@{
    Layout = null;
}


<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Table</title>
    <link href="~/plugins/layui/css/layui.css" rel="stylesheet" />
    <link href="~/Base/css/global.css" rel="stylesheet" />
    <link href="~/Base/css/table.css" rel="stylesheet" />
    <link href="~/Base/css/btable.css" rel="stylesheet" />
    <link href="~/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <script src="~/plugins/layui/layui.js?version=20181017001"></script>
    <script src="~/Current/Scripts/jquery-1.10.2.min.js?version=20181017001"></script>
    <script src="~/Current/Scripts/ajax.js?ver201803231002"></script>

    <script src="~/Current/Scripts/Color/color.js?version=20181017001"></script>
    <style>
        body {
        }

        .fl {
            float: left;
        }

        .fr {
            float: right;
        }

        .fc {
            clear: both;
        }

        .layui-collapse h2 {
            line-height: 42px;
        }


        .btn-edit {
            margin-left: 10px;
        }

        .layui-colla-item h2 a {
        }

        .layui-colla-item font {
            float: right;
        }
    </style>
</head>
<body>
    <div class="admin-main">
    </div>
    <div class="layui-collapse" id="content" lay-accordion="">
    </div>
    <!--模板-->
    <script type="text/html" id="tpl">
        {{# layui.each(d.list, function(index, item){}}
        <div class="layui-colla-item">
            <h2 class="layui-colla-title">
                {{item.ChinaDescribe}}<i class="layui-icon layui-colla-icon">&#xe602;</i>
                <font>
                    <a data-id="{{ item.Id }}" data-opt="edit" class="layui-btn layui-btn-xs layui-btn-mini btn-edit" onclick="GradeEdit(this)">编辑</a>
                    <a data-id="{{ item.Id }}" data-opt="del" class="layui-btn layui-btn-danger layui-btn-mini btn-del" onclick="GradeDel(this)">删除</a>
                </font>
            </h2>
            <div class="layui-colla-content">
                <div class="layui-collapse" lay-accordion="">
                    {{# layui.each(item.listColor,function(index,item2){}}
                    <div class="layui-colla-item">
                        <h2 class="layui-colla-title">
                            <div style="float:left;">
                                {{item2.ChinaDescribe}}<i class="layui-icon layui-colla-icon">&#xe602;</i>
                                &nbsp;&nbsp;&nbsp;标准色号： {{item2.StandardColor}}
                                &nbsp;&nbsp;&nbsp;英文描述： {{item2.EngDescibe}}
                                &nbsp;&nbsp;&nbsp;颜色代码：
                            </div>
                            <div class="HtmlBack" style="background:{{item2.HtmlCode}};width: 24px;height: 24px;border: 1px solid transparent; border-radius: 20px;margin-top: 6px;float: left;"></div>
                            <font>
                                <a data-id="{{ item2.Id }}" data-opt="edit" class="layui-btn layui-btn-xs layui-btn-mini btn-edit" onclick="GradeEdit(this)">编辑</a>
                                <a data-id="{{ item2.Id }}" data-opt="del" class="layui-btn layui-btn-danger layui-btn-mini btn-del" onclick="GradeDel(this)">删除</a>
                            </font>
                        </h2>
                    </div>
                    {{# }); }}
                    <a href="javascript:;" class="layui-btn layui-btn-small btn-add" data-id="{{ item.Id }}" data-name="{{ item.ChinaDescribe }}">
                        <i class="layui-icon"></i> 添加二级分类
                    </a>
                </div>
            </div>
        </div>
        {{# }); }}
        <a href="javascript:;" class="layui-btn layui-btn-small btn-add">
            <i class="layui-icon"></i> 添加一级分类
        </a>
    </script>

    <script>
        layui.use(['element', 'layer'], function () {
            var element = layui.element;
            element = layui.element();
            var layer = layui.layer;

            //监听折叠
            element.on('collapse(test)', function (data) {
                layer.msg('展开状态：' + data.show);
            });
        });
    </script>
</body>
</html>
