@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Table</title>
    <link href="~/plugins/layui/css/layui.css" rel="stylesheet" />
    <link href="~/Base/css/global.css" rel="stylesheet" />
    <link href="~/Base/css/btable.css" rel="stylesheet" />
    <link href="~/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <script src="~/plugins/layui/layui.js?version=20181017001"></script>
    <script src="~/Current/Scripts/jquery-1.10.2.min.js?version=20181017001"></script>
    <script src="~/Current/Scripts/ajax.js?version=20181017001"></script>
</head>
<body>
    <div style="margin:0px; background-color: white; margin:0 10px;min-width:1400px;">
        <div class="hidden-div">
        </div>

        <div style="text-align:center;">
            <img src="~/Current/Icon/listNone.png" style="margin-top:100px;" />
            <div style="font-size: 18px;margin: 30px 0;color: #858585;">
                当前采购单已被删除
            </div>
        </div>
    </div>
</body>
</html>

