
@{
    Layout = null;
}

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>btable</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">
    <link href="~/plugins/layui/css/layui.css" rel="stylesheet" />

    <link href="~/Base/css/btable.css" rel="stylesheet" />
    <link href="~/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Current/css/MainShow/Order.css" rel="stylesheet" />
</head>

<body>
    <div style="margin:0px; background-color: white; margin:0 10px;">
        <blockquote class="layui-elem-quote">
            <form class="layui-form title-part" style="">
                <div class="layui-form-item" style="float:left;">
                    <a href="javascript:;" class="layui-btn layui-btn-small" id="add">
                        <i class="layui-icon">&#xe608;</i> 添加信息
                    </a>
                </div>
            </form>
            <div style="clear:both;" />
        </blockquote>
        <div id="content" style="width: 100%;height: 533px;"></div>
    </div>
    <script src="~/plugins/layui/layui.js?version=2.00"></script>
    <script src="~/Current/Scripts/News/News.js?version=20181017001"></script>
</body>

</html>