
@{
    Layout = null;
    var Jurisdiction = ViewBag.JurisdictionFullInfo == null ? new DbOpertion.Models.Erpuser() : (DbOpertion.Models.Erpuser)ViewBag.JurisdictionFullInfo;
}
<div style="height:100px">
    <form class="layui-form">
        <div class="layui-form-item">
            <input type="hidden" name="ErproleId" value="@Jurisdiction.ErproleId" class="layui-input" />
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">用户角色：</label>
            <div class="layui-input-inline">
                <input type="text" name="ErproleName" placeholder="请输入角色" lay-verify="required" autocomplete="off" class="layui-input" value="@Jurisdiction.ErproleName"  style="width:260px;"/>
            </div>
        </div>      
        <button lay-filter="edit" lay-submit style="display: none; background-color:#f2f2f2"></button>
    </form>
</div>

