.cart__cart-btn___2wVQo {
    display: block;
    position: absolute;
    top: 4px;
    right: 8px;
    width: 40px;
    height: 40px;
    background: url(//asset4.djicdn.com/assets/images/header/cart-5d8e182031233d6c6ddbbef3665790c9.svg) 50% no-repeat;
    background-size: 24px
}

.cart__cart-badge___wOwVG {
    border-radius: 8px;
    padding: 0 4px;
    min-width: 16px;
    height: 16px;
    position: absolute;
    background: #1897f2;
    right: 8px;
    top: 4px;
    -webkit-transform: translateX(50%);
    transform: translateX(50%)
}

.cart__cart-count___1SYbm {
    font-family: Open Sans;
    color: #fff;
    text-align: center;
    line-height: 16px;
    -webkit-transform: scale(.84);
    transform: scale(.84);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    display: block
}

.sidebar__app-nav___RJGYx {
    position: relative;
    z-index: 1002;
    width: 100%;
    min-height: .54rem;
    border-bottom: 1px solid transparent;
    box-shadow: 0 1px 6px rgba(0,0,0,.12),0 1px 4px rgba(0,0,0,.12);
    background: #fff
}

.sidebar__menu-icon___2Jrxs {
    position: absolute;
    top: 0;
    left: 0;
    padding: .15rem;
    width: .54rem;
    height: .54rem;
    outline: 0;
    border: 0;
    background: #fff
}

.sidebar__menu-icon-rect___I2SY5 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in
}

.sidebar__rect-top___3Im9K {
    -webkit-transform: translateY(-.05rem);
    transform: translateY(-.05rem)
}

.sidebar__rect-bottom___1fp3k {
    -webkit-transform: translateY(.05rem);
    transform: translateY(.05rem)
}

.sidebar__rect-bottom-active___c5pQO, .sidebar__rect-top-active___1ckaw {
    -webkit-transform: translateY(0);
    transform: translateY(0)
}

.sidebar__rect-bottom___1fp3k > i {
    -webkit-transition: all .25s ease-in .2s;
    transition: all .25s ease-in .2s
}

.sidebar__rect-bottom___1fp3k > i, .sidebar__rect-middle___-WR_Y > i, .sidebar__rect-top___3Im9K > i {
    position: absolute;
    top: .27rem;
    left: .17rem;
    width: .2rem;
    height: .02rem;
    background: #6a6d69
}

.sidebar__rect-top___3Im9K > i {
    -webkit-transition: all .25s ease-in .2s;
    transition: all .25s ease-in .2s
}

.sidebar__rect-middle___-WR_Y > i {
    -webkit-transition: opacity .7s ease-in .02s;
    transition: opacity .7s ease-in .02s
}

.sidebar__rect-top-active___1ckaw > i {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg)
}

.sidebar__rect-middle-active___3GhFl > i {
    -webkit-transition: opacity .2s ease-in;
    transition: opacity .2s ease-in;
    opacity: 0
}

.sidebar__rect-bottom-active___c5pQO > i {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg)
}

.sidebar__logo-link____owhs {
    display: block;
    width: 1rem;
    height: .54rem;
    margin: 0 auto;
    background: url(//asset5.djicdn.com/assets/images/header/dji_logo-059241117aa11caa10bb5703a597e864.svg) 50% no-repeat;
    background-size: .9rem
}

.sidebar__nav-subtitle___oBNdd {
    padding: 20px 0 15px;
    font-size: 12px;
    line-height: 16px;
    font-weight: 600;
    color: #333;
    background-color: #fff;
    border-bottom: 1px solid #eee
}

.sidebar__nav-items___3xJrQ {
    padding: 0 .2rem .2rem;
    background-color: #fff
}

.sidebar__nav-menu-list___35R7P {
    margin-bottom: 0
}

.sidebar__menu-item___2PEjO a {
    position: relative;
    display: block;
    padding: 0;
    width: 100%;
    height: 45px;
    opacity: 1;
    line-height: 44px;
    color: #333;
    -webkit-transition: all .2s;
    transition: all .2s;
    background-color: #fff;
    border-bottom: 1px solid #eee;
    overflow: hidden;
    text-transform: capitalize
}

    .sidebar__menu-item___2PEjO a:after {
        content: "";
        position: absolute;
        right: 0;
        top: 10px;
        width: 24px;
        height: 24px;
        background: url(//asset2.djicdn.com/assets/images/header/arrow-36dad273465fa755b72c37465a836692.svg) 50% no-repeat;
        background-size: 15px;
        -webkit-transform: rotate(-90deg);
        transform: rotate(-90deg)
    }

.sidebar__menu-item___2PEjO .sidebar__more-arrow-fold___2_USv:after {
    -webkit-transform: rotate(0);
    transform: rotate(0)
}

.sidebar__menu-item___2PEjO .sidebar__more-arrow___12TlQ:after {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg)
}

.index__menu-item___pfUyt.index__hide___1az-F a, .sidebar__menu-item___2PEjO.sidebar__hide___M3kI0 a {
    opacity: 0;
    height: 0;
    border-bottom: 0 solid #eee
}

.sidebar__menu-item-img___304FK {
    float: left;
    margin-left: -.05rem;
    margin-right: .05rem;
    vertical-align: top;
    width: .7rem;
    height: .44rem;
    text-align: center
}

    .sidebar__menu-item-img___304FK img {
        max-width: 100%;
        max-height: 100%
    }

.sidebar__menu-item-title___2sdml {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-right: 30px;
    color: #707473
}

.sidebar__app-nav-content___13h7l {
    position: fixed;
    left: 0;
    bottom: 0;
    top: 48px;
    width: 100%;
    height: auto;
    z-index: 1004;
    font-family: Open Sans;
    background-color: #fff;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch
}

.sidebar__nav-menu-ctn___3Rw_5 {
    background-color: #f7f8f9 !important;
    padding-bottom: 10px
}

.sidebar__active-bar___2jbsa {
    border-color: #ccc !important
}

.sidebar__msg-dot___3rDhD {
    display: block;
    position: absolute;
    z-index: 10;
    top: .18rem;
    right: .14rem;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: #fc495f
}

.sidebar__search-icon___1E-hX {
    display: block;
    position: absolute;
    top: 0;
    right: .5rem;
    width: .4rem;
    height: .55rem;
    background: url(//asset5.djicdn.com/assets/images/header/search-523bb9ac4ca115a10b386d50661df552.svg) 50% no-repeat;
    background-size: 21px
}

.sidebar__search___296uh {
    position: fixed;
    left: 0;
    bottom: 0;
    top: 0;
    padding: 20px;
    width: 100%;
    height: auto;
    z-index: 1004;
    font-family: Open Sans;
    background-color: #fff;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch
}

.sidebar__nav-change-country___7ocP0 {
    margin-top: 10px;
    line-height: .36rem;
    background: #fff;
    text-align: center;
    padding: .09rem 0;
    text-transform: capitalize
}

.sidebar__get-go-app___3ofEM, .sidebar__get-go-app___3ofEM:hover {
    display: block;
    padding-left: .15rem;
    margin-bottom: .1rem;
    line-height: .54rem;
    background: #fff;
    color: #707473
}

.index__nav-change-country___B8JXX span, .sidebar__nav-change-country___7ocP0 span {
    color: #008374;
    vertical-align: middle;
    font-size: 12px
}

.sidebar__menu-filter___Nf99H {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 20
}

.sidebar__cookie-disable___yAcN8 {
    background-color: rgba(255,0,0,.8);
    color: #fff;
    padding: .02rem .1rem
}

.input__form___3PGjq {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0;
    margin: 0;
    height: 44px;
    width: 100%
}

.input__label___1gmiZ {
    position: relative;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    margin: 0;
    padding: 10px 10px 10px 38px;
    border: 1px solid #ccc;
    border-radius: 2px;
    background: #fff url(//asset5.djicdn.com/assets/images/header/search-523bb9ac4ca115a10b386d50661df552.svg) 10px no-repeat;
    background-size: 20px
}

.input__input___3zRVQ {
    display: inline-block;
    width: 100%;
    border: none;
    -webkit-appearance: none;
    padding: 0 28px 0 0;
    margin: 0;
    outline: none;
    height: 24px;
    line-height: 24px;
    font-weight: 400
}

    .input__input___3zRVQ::-webkit-input-placeholder {
        color: #979797
    }

.input__clear___2J4qE {
    position: absolute;
    right: 10px;
    top: 10px;
    width: 24px;
    height: 24px;
    border: none;
    background: url(//asset4.djicdn.com/assets/images/header/close-26aa5f1a24ff74c0bb310856e9d73f8b.svg) 50% no-repeat;
    -webkit-appearance: none
}

.input__cancel___MUTV0 {
    display: block;
    margin: 10px 0 10px 10px;
    height: 24px;
    line-height: 24px;
    color: #707473;
    font-size: 12px
}

.list__list___LjIte {
    position: relative;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 15px;
    list-style: none
}

.item__item___2psxR {
    position: relative;
    padding: 11px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    height: 45px;
    opacity: 1;
    line-height: 44px;
    color: #333;
    -webkit-transition: all .2s;
    transition: all .2s;
    border-bottom: 1px solid #eee;
    overflow: hidden
}

a.item__item___2psxR {
    color: inherit
}

.item__item___2psxR.item__active___1FhqG, .item__item___2psxR:active {
    background-color: rgba(148,148,148,.1)
}

.item__access___2dA7c {
    padding: 11px 25px 11px 0
}

    .index__menu-item___pfUyt a:after, .item__access___2dA7c:after {
        content: "";
        position: absolute;
        right: 0;
        top: 10px;
        width: 24px;
        height: 24px;
        background: url(//asset2.djicdn.com/assets/images/header/arrow-36dad273465fa755b72c37465a836692.svg) 50% no-repeat;
        background-size: 15px;
        -webkit-transform: rotate(-90deg);
        transform: rotate(-90deg)
    }

.index__title___1tk_U {
    margin: 20px 0 15px;
    font-size: 12px;
    line-height: 16px;
    color: #333;
    word-break: break-word;
    word-wrap: break-word
}

.search__recommends___S8hT7 {
    -webkit-transition: opacity .3s;
    transition: opacity .3s;
    opacity: 0
}

    .search__recommends___S8hT7.search__open___23apm {
        opacity: 1
    }

.search__list-title___1RQnS {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 20px
}

    .search__list-title___1RQnS em {
        font-style: normal;
        font-weight: 600
    }

.search__hint___26jYg {
    margin: 20px 0
}

.search__list___2Xfqy {
    border-top: 1px solid #eee
}

.search__search___NkvvN {
    padding-left: 24px;
    background: #fff url(//asset5.djicdn.com/assets/images/header/search-523bb9ac4ca115a10b386d50661df552.svg) 0 no-repeat;
    background-size: 20px
}

.search__search-panel___2j3iM {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 0;
    padding: 0;
    z-index: 1000;
    background: #fff;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    visibility: hidden
}

    .search__search-panel___2j3iM.search__open___23apm {
        padding: 20px;
        height: 100%;
        z-index: 1004;
        visibility: visible
    }

.index__app-nav___cAR5e {
    position: relative;
    z-index: 1002;
    width: 100%;
    min-height: 48px;
    border-bottom: 1px solid transparent;
    box-shadow: 0 1px 4px 0 rgba(0,0,0,.1);
    background: #fff;
    padding: 4px 0;
    text-align: center
}

.index__menu-icon___2bl_Q {
    position: absolute;
    top: 4px;
    left: 8px;
    padding: 8px;
    width: 40px;
    height: 40px;
    outline: 0;
    border: 0;
    background: #fff
}

.index__menu-icon-rect___1bvNK {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in
}

.index__rect-top___eqFMk {
    -webkit-transform: translateY(-7px);
    transform: translateY(-7px)
}

.index__rect-bottom___2tSLa {
    -webkit-transform: translateY(7px);
    transform: translateY(7px)
}

.index__rect-bottom-active___2FWIS, .index__rect-top-active___13MUw {
    -webkit-transform: translateY(0);
    transform: translateY(0)
}

.index__rect-bottom___2tSLa > i {
    -webkit-transition: all .25s ease-in .2s;
    transition: all .25s ease-in .2s
}

.index__rect-bottom___2tSLa > i, .index__rect-middle___3wdQD > i, .index__rect-top___eqFMk > i {
    position: absolute;
    top: 19px;
    left: 10px;
    width: 20px;
    height: 2px;
    background: #303233;
    border-bottom-left-radius: 2px;
    border-top-right-radius: 2px
}

.index__rect-top___eqFMk > i {
    -webkit-transition: all .25s ease-in .2s;
    transition: all .25s ease-in .2s
}

.index__rect-middle___3wdQD > i {
    -webkit-transition: opacity .7s ease-in .02s;
    transition: opacity .7s ease-in .02s
}

.index__rect-top-active___13MUw > i {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg)
}

.index__rect-middle-active___3uj-P > i {
    -webkit-transition: opacity .2s ease-in;
    transition: opacity .2s ease-in;
    opacity: 0
}

.index__rect-bottom-active___2FWIS > i {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg)
}

.index__logo-link___1B6H8 {
    display: inline-block;
    padding: 8px 0;
    height: 40px;
    margin: 0 auto
}

    .index__logo-link___1B6H8 img {
        width: 102px
    }

.index__nav-subtitle___1XU18 {
    padding: 20px 0 15px;
    font-size: 12px;
    line-height: 16px;
    font-weight: 600;
    color: #333;
    background-color: #fff;
    border-bottom: 1px solid #eee
}

.index__nav-items___3acc6 {
    padding: 0 .2rem .2rem;
    background-color: #fff
}

.index__nav-menu-list___298Hp {
    margin-bottom: 0
}

.index__menu-item___pfUyt a {
    position: relative;
    display: block;
    padding: 0;
    width: 100%;
    height: 45px;
    opacity: 1;
    line-height: 44px;
    color: #333;
    -webkit-transition: all .2s;
    transition: all .2s;
    background-color: #fff;
    border-bottom: 1px solid #eee;
    overflow: hidden
}

.index__menu-item___pfUyt .index__more-arrow-fold___2HL7f:after {
    -webkit-transform: rotate(0);
    transform: rotate(0)
}

.index__menu-item___pfUyt .index__more-arrow___2JHEW:after {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg)
}

.index__menu-item-img___rCDmq {
    float: left;
    margin-left: -.05rem;
    margin-right: .05rem;
    vertical-align: top;
    width: .7rem;
    height: .44rem;
    text-align: center
}

    .index__menu-item-img___rCDmq img {
        max-width: 100%;
        max-height: 100%
    }

.index__menu-item-title___1aNqG {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-right: 30px;
    color: #707473
}

.index__app-nav-content___3NC_w {
    position: fixed;
    left: 0;
    bottom: 0;
    top: 48px;
    width: 100%;
    height: auto;
    z-index: 1004;
    font-family: Open Sans;
    background-color: #fff;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch
}

.index__nav-menu-ctn___2k22g {
    background-color: #f7f8f9 !important;
    padding-bottom: 10px
}

.index__active-bar___1W6cd {
    border-color: #ccc !important
}

.index__msg-dot___2HmhA {
    display: block;
    position: absolute;
    z-index: 10;
    top: .18rem;
    right: .14rem;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: #fc495f
}

.index__search-icon___3Uroa {
    display: block;
    position: absolute;
    top: 4px;
    right: 48px;
    width: 40px;
    height: 40px;
    background: url(//asset5.djicdn.com/assets/images/header/search-523bb9ac4ca115a10b386d50661df552.svg) 50% no-repeat;
    background-size: 24px
}

.index__nav-icon___1n2Vf {
    -webkit-transition: .2s;
    transition: .2s;
    opacity: 1
}

.index__open___2BHAZ {
    opacity: 0
}

.index__nav-change-country___B8JXX {
    margin-top: 10px;
    line-height: .36rem;
    background: #fff;
    text-align: center;
    padding: .09rem 0;
    text-transform: capitalize
}

.index__get-go-app___12xQ9, .index__get-go-app___12xQ9:hover {
    display: block;
    padding-left: .15rem;
    margin-bottom: .1rem;
    line-height: .54rem;
    background: #fff;
    color: #707473
}

.index__menu-filter___1EFZC {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 20
}

.index__cookie-disable___CpgeJ {
    background-color: rgba(255,0,0,.8);
    color: #fff;
    padding: .02rem .1rem
}

.index__m-footer___3wbfs {
    padding-top: .1rem;
    color: #999;
    text-align: center;
    font-size: .12rem;
    background: #f7f8f9;
    font-family: Open Sans;
    padding-bottom: .4rem
}

.index__ctn-block____MJ_9 {
    height: 1.037rem;
    line-height: 1.037rem;
    border-bottom: 1px solid #e4e4e4
}

    .index__ctn-block____MJ_9:first-child {
        padding-top: 0
    }

    .index__ctn-block____MJ_9 > a {
        margin-right: .1rem;
        color: #999
    }

        .index__ctn-block____MJ_9 > a:last-child {
            margin-right: 0
        }

.index__social-item___3gKwO {
    display: inline-block;
    vertical-align: middle;
    margin-right: .15rem !important;
    font-size: .2rem
}

    .index__social-item___3gKwO:after {
        content: " ";
        display: inline-block;
        width: 0;
        height: 100%;
        overflow: hidden;
        vertical-align: middle
    }

    .index__social-item___3gKwO:last-child {
        margin-right: 0 !important
    }

.index__copyright-desc___UIBfr {
    margin-bottom: 0;
    border-bottom: 0
}

.index__label-country___1R800 {
    display: inline-block;
    vertical-align: middle
}


.header__title___2C0jX {
    margin: 20px .2rem 15px;
    font-size: 12px;
    line-height: 16px;
    color: #333;
    font-family: Open Sans
}

.index__item___3ChSK {
    margin: 0 0 10px;
    padding: 0;
    list-style: none
}

    .index__item___3ChSK a {
        display: block;
        padding: 10px;
        background: #fff;
        overflow: hidden
    }

    .index__item___3ChSK:last-child {
        margin-bottom: 0
    }

.index__media___3GKlX {
    float: left;
    margin-right: 10px;
    width: 80px;
    height: 80px;
    overflow: hidden;
    font-size: 0;
    text-align: center
}

    .index__media___3GKlX img {
        display: inline-block;
        max-height: 100%;
        max-width: 100%;
        vertical-align: middle
    }

    .index__media___3GKlX:after {
        content: " ";
        display: inline-block;
        width: 0;
        height: 100%;
        overflow: hidden;
        vertical-align: middle
    }

.index__info___2nmzG {
    overflow: hidden
}

.index__title___3v1Ku {
    display: -webkit-box;
    margin: 0;
    padding: 0;
    line-height: 1.3;
    max-height: 2.6em;
    font-size: 14px;
    font-weight: 400;
    color: #707473;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    white-space: normal
}

    .index__title___3v1Ku em {
        font-style: normal;
        font-weight: 600;
        color: #333
    }

.index__description___2qrMq {
    margin: 5px 0;
    font-size: 12px;
    color: #707473
}

.index__money___3T2m0 {
    margin-top: 5px
}

.index__price___16I7G {
    font-size: .14rem;
    color: #008374
}

.index__original-price___3EHLp {
    color: #979797;
    font-weight: 300;
    text-decoration: line-through
}

.index__warning___1qFrx {
    color: #e74c3c;
    font-size: .12rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis
}

.index__vertical___2zK0Q {
    display: inline-block;
    vertical-align: top;
    width: 55%;
    max-width: 160px;
    height: 198px;
    margin-right: 10px;
    text-align: center
}

    .index__vertical___2zK0Q .index__media___3GKlX {
        float: none;
        margin: 0 auto
    }

    .index__vertical___2zK0Q .index__info___2nmzG {
        padding: 10px 0 0
    }

    .index__vertical___2zK0Q:last-child {
        margin-right: 0
    }

@media (min-width:321px) {
    .index__vertical___2zK0Q {
        width: 40%
    }
}

.index__pagination___3V_eC {
    position: relative;
    text-align: center
}

.index__pages___3qU9P {
    display: inline-block;
    vertical-align: middle;
    color: #707473;
    line-height: 24px
}

.index__next___3lFs9, .index__prev___1DuvC {
    position: absolute;
    text-indent: -9999px;
    width: 24px;
    height: 24px;
    border: 0;
    background: 0 0;
    outline: none
}

    .index__next___3lFs9:disabled, .index__prev___1DuvC:disabled {
        opacity: .4;
        pointer-events: none
    }

    .index__next___3lFs9:after, .index__prev___1DuvC:after {
        position: absolute;
        left: 0;
        top: 0;
        color: #707473;
        content: "";
        width: 24px;
        height: 24px;
        background: url(//asset2.djicdn.com/assets/images/header/arrow-36dad273465fa755b72c37465a836692.svg) 50% no-repeat;
        background-size: 14px
    }

.index__prev___1DuvC {
    left: 0
}

    .index__prev___1DuvC:after {
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg)
    }

.index__next___3lFs9 {
    right: 0
}

    .index__next___3lFs9:after {
        -webkit-transform: rotate(-90deg);
        transform: rotate(-90deg)
    }

.index__loading___2Qd7F {
    display: inline-block;
    position: relative;
    left: auto;
    top: auto;
    border: 2px solid #008374;
    border-top-color: #eee;
    border-right-color: #eee;
    border-bottom-color: #eee;
    border-radius: 50%;
    -webkit-animation: index__loading-rotate___2ESvs .5s linear infinite;
    animation: index__loading-rotate___2ESvs .5s linear infinite
}

.index__small___3-LWJ {
    width: 24px;
    height: 24px
}

.index__middle___2eD-n {
    width: 48px;
    height: 48px
}

.index__large___176CV {
    width: 72px;
    height: 72px
}

@-webkit-keyframes index__loading-rotate___2ESvs {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg)
    }

    to {
        -webkit-transform: rotate(1turn);
        transform: rotate(1turn)
    }
}

@keyframes index__loading-rotate___2ESvs {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg)
    }

    to {
        -webkit-transform: rotate(1turn);
        transform: rotate(1turn)
    }
}

.index__list___zCnOS, .index__pagination___1DtTP, .index__search___20DZQ {
    margin: 20px
}

.index__empty___3T0uB {
    margin: 20px;
    padding: 40px 20px;
    text-align: center;
    border: 1px dashed #ddd;
    color: #707473;
    word-break: break-word;
    word-wrap: break-word
}

.index__recommend___OKYHk {
    color: #333;
    font-size: 12px;
    margin: 15px 0
}

.index__loading___2XXDb {
    padding: 200px 50px 300px;
    text-align: center
}