.searchContainer {
    width: 1200px;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 40px;
}

    .searchContainer .searchWord {
        font-size: 26px;
        line-height: 34px;
        margin-bottom: 15px;
        text-transform: capitalize;
        font-weight: 300;
    }

    /*找不到商品开始*/
    .searchContainer .nothing_find {
        padding-bottom: 30px;
        margin-bottom: 40px;
        margin-top: 30px;
    }

        .searchContainer .nothing_find .nothing_find_text {
            min-height: 20px;
            padding: 80px;
            margin-bottom: 20px;
            border: 1px solid #e3e3e3;
            background: #fff;
            text-align: center;
        }

            .searchContainer .nothing_find .nothing_find_text h3 {
                color: #333;
                font-weight: 400;
                font-size: 18px;
                margin-bottom: 20px;
                letter-spacing: normal;
                line-height: 24px;
                text-transform: capitalize;
            }

            .searchContainer .nothing_find .nothing_find_text h6 {
                font-size: 14px;
                color: #333;
                font-weight: 400;
                letter-spacing: normal;
                line-height: 18px;
                margin: 0 0 14px;
            }
    /*找不到商品结束*/


/*列表信息开始*/
.container_list {
    padding-bottom: 30px;
    margin-bottom: 30px;
    margin-top: 20px;
}

    .container_list .section_countent {
        margin-bottom: -10px;
    }

        .container_list .section_countent .section_item {
            margin-bottom: 10px;
            margin-right: 10px;
            min-width: calc((100% - 30px) / 4);
            max-width: calc((100% - 30px) / 4);
            -ms-flex-preferred-size: 20%;
            flex-basis: 20%;
            -webkit-box-flex: 1;
            -ms-flex-positive: 1;
            flex-grow: 1;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            float: left;
        }

            .container_list .section_countent .section_item:nth-child(4n) {
                margin-right: 0;
            }

            .container_list .section_countent .section_item a {
                -webkit-box-flex: 1;
                -ms-flex-positive: 1;
                flex-grow: 1;
                width: 100%;
                background: #fff;
                display: block;
                transition: all .3s ease;
            }

                .container_list .section_countent .section_item a .product_item .image .cover {
                    box-sizing: border-box;
                    height: 220px;
                    padding: 20px 0;
                    transition: all .3s ease;
                    position: relative;
                }

        .container_list .section_countent .image .cover img {
            height: 180px;
            width: 180px;
            margin: 0px 56px;
        }

        .container_list .section_countent .section_item a .product_item .title {
            font-size: 18px;
            line-height: 1.2em;
            height: 2.4em;
            margin-bottom: 20px;
            padding: 0 20px;
            font-weight: 300;
            overflow: hidden;
            text-align: center;
        }

        .container_list .section_countent .section_item a .product_item .price {
            margin-bottom: 20px;
            font-weight: 400;
            color: #008376;
            text-align: center;
        }

            .container_list .section_countent .section_item a .product_item .price .money .normal_price {
                color: #008376;
            }

        .container_list .section_countent .section_item:hover {
            box-shadow: 0 10px 10px rgba(0,0,0,.1);
        }

        .container_list .section_countent .section_item .image .cover img {
            -webkit-transition: all .3s;
            -moz-transition: all .3s;
            -ms-transition: all .3s;
            -o-transition: all .3s;
            transition: all .3s;
            position: absolute;
        }

        .container_list .section_countent .section_item .image .cover .ShowImage {
            opacity: 1;
        }

        .container_list .section_countent .section_item:hover .image .cover .ShowImage {
            opacity: 0;
        }

        .container_list .section_countent .section_item .image .cover .HideImage {
            opacity: 0;
        }

        .container_list .section_countent .section_item:hover .image .cover .HideImage {
            opacity: 1;
        }
/*列表结束后开始*/
.searchContainer .pagesize {
    margin-bottom: 30px;
}

    .searchContainer .pagesize .pagination {
        margin-top: -30px;
        text-align: center;
        margin-bottom: 30px;
        margin-left: 490px;
    }

        .searchContainer .pagesize .pagination li {
            display: inline-block;
            margin: 0 2px;
            border: 1px solid transparent;
            border-radius: 3px;
            box-sizing: border-box;
            font-family: Gotham,Helvetica,Arial,sans-serif;
            float: left;
        }

            .searchContainer .pagesize .pagination li.active {
                background-color: #008376;
                border-color: #008376;
            }



            .searchContainer .pagesize .pagination li a {
                display: block;
                padding: 5px 10px;
                color: #333;
                cursor: pointer;
            }

            .searchContainer .pagesize .pagination li.active a {
                color: white;
            }
/*列表信息结束*/
.searchContainer .container_list {
}
