@using DbOpertion.Models;
@{
    ViewBag.Title = "_UserLayout";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var user = (User)ViewBag.UserInfo;
    var ListHisdesign = (List<SLSM.Web.Models.Response.Address.HisdesigninfoResponse>)ViewBag.HisdesignInfo;
    var ListGrade = (List<SLSM.DBOpertion.Model.Extend.Response.GradeRes.GradeRes>)ViewBag.listGradeOfTitle;
    var ListCommShow = (List<Commshow>)ViewBag.CommShowList;
    var List_Comm = (List<Commodity_Stageprice_View>)ViewBag.listCommdity;
    List<int> list = new List<int>();
    foreach (var item in ListGrade)
    {
        var commShow = ListCommShow.Where(p => p.GradeId == item.id).ToList();
        if (commShow.Count != 0)
        {
            list.Add(item.id);
        }
    }
}
@section js{
    @RenderSection("js", required: false)
}
@section css{
    <link href="~/Current/css/Header.css" rel="stylesheet" />

    @RenderSection("css", required: false)
}

@section top_part{
    <!--头部开始-->
    <header class="header">
        <nav class="site-header">
            <div class="site-header-container">
                <div class="nav-bar-wrap" id="siteHeaderNavbar">
                    <div class="header-logo">
                        <a href="/Main/Index">
                            <span>
                                <img alt="Syloon Store" class="logo" src="~/Base/images/syloonLogin.png" title="Syloon Store">
                            </span>
                            <span class="text">
                                商城
                            </span>
                        </a>
                    </div>

                    <ul class="navbar-right">
                        @if (user == null)
                        {
                            <li class="nav-user">
                                <a class="account-text" style="padding:0 17px;" href="../Main/Login?Login=login" role="button">登入</a>
                            </li>
                        }
                        else
                        {
                            <li class="nav-user">
                                <a class="account-text" href="../../UserInfo/Info" role="button">我的帐号</a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a href="../../UserInfo/Index">我的帐号</a>
                                    </li>
                                    <li>
                                        <a href="../../UserInfo/MyOrderList">我的订单</a>
                                    </li>
                                    <li>
                                        <a id="ExitH2">退出</a>
                                    </li>
                                </ul>
                            </li>
                        }


                        <li class="country-change-select" style="">
                            <a class="country-change" href="javascript:void(0)" style="opacity: 1;">
                                <div class="text"> 中国大陆 (简体中文 / ¥ CNY) </div>
                            </a>
                        </li>
                    </ul>
                    <div style="clear:both;"></div>
                </div>
            </div>
        </nav>
    </header>
    <!--头部结束-->
}

@RenderBody()