@using DbOpertion.Models;
@{
    Layout = null;
    var List_Warehouse = (List<DbOpertion.Models.Warehouse>)ViewBag.WarehouseInfo;
    var deliverId = (int)ViewBag.deliverId;
    Deliver deliver = ViewBag.Deliver == null ? new Deliver() : (Deliver)ViewBag.Deliver;
}
<link href="~/plugins/layui/css/layui.css" rel="stylesheet" />
<link href="~/Base/css/btable.css" rel="stylesheet" />
<style>
    .tables {
        width: 100%;
    }

        .tables tr {
            border-bottom: 1px solid #f2f2f2;
        }

    .layui-layer-setwin a:nth-child(1) {
        display: none;
    }

    .layui-layer-setwin a:nth-child(2) {
        display: none;
    }

    .layui-layer-btn a:first-child {
        margin: -10px 140px;
        width: 70px;
        height: 30px;
        text-align: center;
    }
</style>
<!DOCTYPE html>
<div style="margin: 15px;">
    <form class="layui-form">
        <div class="layui-form-item">
            <input type="hidden" name="deliverId" value="@deliverId" class="layui-input" />
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">仓库分类：</label>
            <div class="layui-input-block">
                <select name="WarehouseId" lay-verify="" lay-search>
                    @foreach (var item in List_Warehouse)
                    {
                        <option value="@item.Id">@item.Name</option>
                    }
                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">订单数量：</label>
            <div class="layui-input-block">
                <label class="layui-form-label" style="text-align:left;"> @deliver.buyerCount</label>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">入库数量：</label>
            <div class="layui-input-block">
                <input type="text" name="RuKuNum" class="layui-input" lay-verify="number"/>
            </div>
        </div>
        <button lay-filter="edit" lay-submit style="display: none;"></button>
    </form>
</div>

