
@{
    Layout = null;
    var Id = (int)ViewBag.Id;
}

<link href="~/plugins/layui/css/layui.css" rel="stylesheet" />
<link href="~/Base/css/btable.css" rel="stylesheet" />
<style>
    .tables {
        width: 100%;
    }

        .tables tr {
            border-bottom: 1px solid #f2f2f2;
        }

    .layui-layer-setwin a:nth-child(1) {
        display: none;
    }

    .layui-layer-setwin a:nth-child(2) {
        display: none;
    }

    .layui-layer-btn a:first-child {
        margin: 0px 115px;
        width: 70px;
        height: 30px;
        text-align: center;
    }
</style>
<!DOCTYPE html>
<div style="margin: 15px;">
    <form class="layui-form">
        <div class="layui-form-item">
            <input type="hidden" name="Id" value="@Id" class="layui-input" />
        </div>
        <div class="layui-form-item">
            <div class="layui-input-inline" style="width:100%">
                <label class="layui-form-label" style="width:62px;">填写理由:</label>
                <textarea name="Context" type="text" class="layui-textarea" style="resize:none" lay-verify="required" autocomplete="off"></textarea>
            </div>
        </div>
        <button lay-filter="edit" lay-submit style="display: none;"></button>
    </form>
</div>
