
@{
    ViewBag.Title = "PrivacyPolicy";
    Layout = "~/Views/Shared/_LayoutHelper.cshtml";
}

@section css{
    <link href="~/Current/css/Helper/purchase.css" rel="stylesheet" />
    <style>
        .purchase {
            padding-top: 10px;
        }

            .purchase .tab-content {
                padding-top: 0px;
            }

        .part-faq .faq-list .item-title {
            border-bottom: none;
        }

            .part-faq .faq-list .item-title h4 {
                font-size: 18px;
                font-weight: bold;
                color: #707473;
            }
    </style>
}
<div class="PurchaseGuid">
    <div class="breadcrumb-nav">
        <div class="container">
            <h1 class="title">
                <span>隐私权政策</span>
            </h1>
            <ul class="breadcrumb">
                <li>
                    <a href="../../Main/Index">首页</a>
                </li>
                <li>
                    <a href="javascript:;">隐私权政策</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="container purchase">
        <div class="row">
            <div class="col-sm-9 tab-content">
                <div id="Company_profile" role="tabpanel" class="part-faq tab-pane fade">
                    <div class="row">
                        <div class="col-sm-12 faq-report">
                            <dl class="faq-list faq">
                                <dd class="faq-item">
                                    <a data-toggle="collapse" href="#1-1" data-ga-label="purchasing-account_management-1" class="toggle collapsed item-title ga-data">
                                        <h4 class="font-opensans">
                                            说明
                                        </h4>
                                    </a>
                                    <div id="1-1" class="collapse content">
                                        <div class="desc">
                                            宁波赛龙礼品有限公司是依据中华人民共和国法律成立的有限责任公司（以下简称“赛龙”或“我们”，包括其母公司、子公司、关联公司等）。我们重视维护和保护用户的个人信息。您在使用赛龙的产品、服务时，我们可能会收集和使用您的个人信息。本《隐私权政策》旨在向您说明我们如何收集、储存、使用或分享您的个人信息。希望您仔细阅读本《隐私权政策》，以便在需要的时候，能让您作出合适的选择。<br /><br />
                                            您使用或继续使用赛龙的产品或服务，即意味着您同意我们按照本《隐私权政策》收集、储存、使用和分享您的个人信息。
                                        </div>
                                    </div>
                                </dd>
                                <dd class="faq-item">
                                    <a data-toggle="collapse" href="#1-1" data-ga-label="purchasing-account_management-1" class="toggle collapsed item-title ga-data">
                                        <h4 class="font-opensans">
                                            我们可能收集您的何种个人信息？
                                        </h4>
                                    </a>
                                    <div id="1-1" class="collapse content">
                                        <div class="desc">
                                            您通过使用赛龙的产品或服务的过程中提供给赛龙的信息，如姓名、电话号码、电子邮箱地址、通讯地址、身份证号码、银行卡卡号（当您在赛龙进行付款交易时需提供）等。
                                        </div>
                                    </div>
                                </dd>
                                <dd class="faq-item">
                                    <a data-toggle="collapse" href="#1-1" data-ga-label="purchasing-account_management-1" class="toggle collapsed item-title ga-data">
                                        <h4 class="font-opensans">
                                            我们为何收集您的个人信息？
                                        </h4>
                                    </a>
                                    <div id="1-1" class="collapse content">
                                        <div class="desc">
                                            我们收集您的个人信息以实现如下目的：<br />
                                            认证您的身份以防止欺诈；<br />
                                            明确您的技术服务需求；<br />
                                            确认适合您的产品及服务；<br />
                                            根据您的要求提供产品及服务；<br />
                                            遵守法律法规的要求。
                                        </div>
                                    </div>
                                </dd>
                                <dd class="faq-item">
                                    <a data-toggle="collapse" href="#1-1" data-ga-label="purchasing-account_management-1" class="toggle collapsed item-title ga-data">
                                        <h4 class="font-opensans">
                                            我们可能如何储存您的个人信息？
                                        </h4>
                                    </a>
                                    <div id="1-1" class="collapse content">
                                        <div class="desc">
                                            无论您的个人信息以何种方式提供给赛龙，都将受到赛龙的储存和保护。我们建立了信息安全控制体系，防止您的个人信息被他人使用、接触、修改、复制、破坏、泄露、损失或盗取。<br />
                                            为储存和保护您的个人信息，赛龙采用有形的或电子的等各种保密手段及严格的保密程序。例如，严格限制人员进出信息处理和保管区域，限制解除信息保密的人员编制，采用密码、识别码、备用密码、防火墙及信息传输加密，文件柜及文件室使用密码锁等。<br />
                                            我们委托第三方提供服务而向其提供您的必要的个人信息时，会与其签署相关保密协议，以确保您的个人信息获得保护并仅用于其向您提供服务。
                                        </div>
                                    </div>
                                </dd>
                                <dd class="faq-item">
                                    <a data-toggle="collapse" href="#1-1" data-ga-label="purchasing-account_management-1" class="toggle collapsed item-title ga-data">
                                        <h4 class="font-opensans">
                                            我们可能如何使用您的个人信息？
                                        </h4>
                                    </a>
                                    <div id="1-1" class="collapse content">
                                        <div class="desc">
                                            我们收集到的您的个人信息将可能被我们用于实现如下目的：<br />
                                            向您提供服务。<br />
                                            帮助我们设计新产品或新服务，改善我们现有的产品或服务。<br />
                                            用于身份识别、客户服务、安全防范、存档或备份等。<br />
                                            向您提供与您更加密切相关的广告。<br />
                                            让您参与我们的产品或服务调查。<br />
                                            我们可能委托其他第三方代表赛龙提供服务，比如数据处理、账目管理及市场营销。我们仅向这些第三方提供其完成服务所必须的信息，并且我们以赛龙遵循的同等保密标准与这些第三方签署保密协议。这些第三方可能来自境外，根据其所在地的法律，这些境外第三方可能负有一定的信息披露义务。
                                        </div>
                                    </div>
                                </dd>
                                <dd class="faq-item">
                                    <a data-toggle="collapse" href="#1-1" data-ga-label="purchasing-account_management-1" class="toggle collapsed item-title ga-data">
                                        <h4 class="font-opensans">
                                            我们如何分享您的个人信息
                                        </h4>
                                    </a>
                                    <div id="1-1" class="collapse content">
                                        <div class="desc">
                                            我们不会与赛龙以外的任何第三方分享您的个人信息，但以下情况除外：<br />
                                            在得到您同意的情况下。<br />
                                            为实现“我们可能如何使用您的个人信息？”章节中的目的而向赛龙授权的产品或服务提供商分享您的信息。<br />
                                            在赛龙内部分享您的个人信息以便实现“我们可能如何使用您的个人信息？”章节中的目的。<br />
                                            今后我们可能出售赛龙业务或并购新业务，在此情况下，您的个人信息及相关账目、您购买的产品及服务等，将随着业务一并转移。<br />
                                            您的个人信息在如下情况下可能会被强制要求披露：1）在涉嫌犯罪活动时，向司法或执法机构披露以侦查预防犯罪；2）根据法律（或法院）的强制要求披露；3）根据政府的强制要求披露；4）为保护赛龙的资产（例如清偿逾期账款）等。在上述情况下，我们将记录信息披露的内容、时间、原因及对象。
                                        </div>
                                    </div>
                                </dd>
                                <dd class="faq-item">
                                    <a data-toggle="collapse" href="#1-1" data-ga-label="purchasing-account_management-1" class="toggle collapsed item-title ga-data">
                                        <h4 class="font-opensans">
                                            您的权限
                                        </h4>
                                    </a>
                                    <div id="1-1" class="collapse content">
                                        <div class="desc">
                                            如果您想查阅或验证您的个人信息，以及查看我们的披露记录时，请联络我们的客户经理或经销商。若在某些情况下我们无法提供相关资料，我们将及时告知您原因。<br />
                                            在某些情况下您有权选择拒绝向我们提供某些信息，但我们可能因此无法向您提供某些产品、服务或信息。为保护双方利益，例如为确保您的要求被执行、为证明我们向您提供了所需信息，我们可能监控您与赛龙的电话或邮件往来，以保证我们的服务质量。<br />
                                            如果您不希望接收到我们关于直接营销的沟通，请告知我们，我们将会在直接营销名单中删除您的个人信息。<br />
                                            如果您不希望我们在赛龙成员中分享您的个人信息，请通知我们。在此情况下，我们由于信息缺失而有可能无法向您提供特定的产品或服务。<br />
                                            如果您未满十八岁，您应该获得父母或监护人的同意和指导以确保正确使用我们的产品和服务。<br />
                                            根据您所处的地域的法律规定，本《隐私权政策》的某些条款可能并不适用于您。本《隐私权政策》不排除或限制您根据本地法律规定所享有的任何权利。
                                        </div>
                                    </div>
                                </dd>
                                <dd class="faq-item">
                                    <a data-toggle="collapse" href="#1-1" data-ga-label="purchasing-account_management-1" class="toggle collapsed item-title ga-data">
                                        <h4 class="font-opensans">
                                            变更
                                        </h4>
                                    </a>
                                    <div id="1-1" class="collapse content">
                                        <div class="desc">
                                            我们可能适时修订本《隐私权政策》的条款，该等修订构成本《隐私权政策》的一部分。如该等修订造成您在本《隐私权政策》下权利的实质减少，我们将在修订生效前通过在主页上显著位置提示或向您发送电子邮件或以其他方式通知您。在该种情况下，若您继续使用我们的服务，即表示同意受经修订的本《隐私权政策》的约束。
                                        </div>
                                    </div>
                                </dd>
                                <dd class="faq-item">
                                    <a data-toggle="collapse" href="#1-1" data-ga-label="purchasing-account_management-1" class="toggle collapsed item-title ga-data">
                                        <h4 class="font-opensans">
                                            我们的承诺
                                        </h4>
                                    </a>
                                    <div id="1-1" class="collapse content">
                                        <div class="desc">
                                            赛龙非常感谢能有机会为您提供产品和服务。自赛龙成立至今，赢得并保持您的信任始终是我们的服务宗旨。我们承诺尊重及保护您提供的隐私及个人信息，也希望您能了解我们的隐私保护政策，包括如何采集、使用及披露您的个人信息。<br />
                                            我们指定专门的团队负责管理您的个人信息保护，包括制度、纠纷解决、培训、联络等各方面，并直接向董事会及总经理汇报隐私保护相关事项。<br />
                                            我们将确保在您申请任何产品或服务时，获知上述信息采集目的。如果我们希望将您的个人信息用于其他目的，我们将向您提出申请。<br />
                                            如您想了解最新的《隐私权政策》，请登录赛龙商城<a href="http://www.syloon.cn">www.syloon.cn</a>并点击其下方隐私政策链接。
                                        </div>
                                    </div>
                                </dd>
                            </dl>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

