
@{
    Layout = "~/Views/Shared/_Layout_Base.cshtml";
}
<link href="~/Current/css/SyloonAssestBase.css" rel="stylesheet" />
<link href="~/Current/css/Assets/termspolicy.css" rel="stylesheet" />
<div class="syloon-CN">
    <div class="breadcrumb-nav">
        <div class="container">
            <h2 class="title">使用条款</h2>
            <ul class="breadcrumb">
                <li>
                    <a href="../../Main/Index">首页</a>
                </li>
                <li><span>使用条款</span></li>
            </ul>
        </div>
    </div>
    <div class="terms terms-and-policy">
        <div class="container tab-content">
            <div id="other" role="tabpanel" class="tab-pane fade in active">
                <div class="item">
                    <h3>
                        接受条款
                    </h3>
                    <p>
                        登录访问本网站，即表明您承诺已阅读、理解并接受如下使用条款。若您不理解或不接受其中的任何内容，请立即离开本网页。宁波赛龙礼品有限公司（“赛龙”）保留在任何时间不经通知更新并修改本使用条款的权利，就任何违反本使用条款的行为，赛龙有权采取法律措施并要求合理赔偿。
                    </p>
                    <hr>
                </div>
                <div class="item">
                    <h3>
                        著作权
                    </h3>
                    <p>
                        除另有说明外，本网站所有内容的著作权均归属赛龙。任何人未经赛龙或享有著作权的第三方书面许可，不得以任何方式将本网站的任何内容复制、散布、影印、展示、被链接到其他网站、通过超链接传送、以镜像法上载至其他服务器、保留在信息检索系统，或因任何商业目的下载或复制。若因非商业目的下载或复制本网页内容，则在使用过程中不得修改任何内容，且应保留其原件所含的版权声明或其他权属声明的内容及形式。
                    </p>
                    <hr>
                </div>
                <div class="item">
                    <h3>
                        商标权
                    </h3>
                    <p>
                        除另有说明外，本网站展示、提及或以其他方式使用的所有商标、标识均归属赛龙。未经赛龙或享有商标权的第三方书面许可，不得以任何方式使用上述商标、标识。
                    </p>
                    <hr>
                </div>
                <div class="item">
                    <h3>
                        声明
                    </h3>
                    <p>
                        本网站仅及内容仅为您提供方便使用。赛龙力争提供准确信息，但不对信息的准确性承担责任。赛龙有权未经通知修改网站内容或产品信息。
                    </p>
                    <p>
                        本网站所有内容均以现有状态为准，且赛龙不对网站内容作出任何保证、承诺或陈述。赛龙在此特别声明，在法律允许的最大范围内，不对网站的任何内容作出保证或承诺，无论明示或暗示方式，包括对于产品的性能、适用性、合法性的说明。
                    </p>
                    <hr>
                </div>
                <div class="item">
                    <h3>
                        责任限制
                    </h3>
                    <p>
                        就本网站、使用网站或因信赖网站内容而产生任何损失，包括直接、间接、特殊、附带、惩罚的损失，赛龙及其关联方、分公司、董事、代理人、员工或其他代表人均不承担责任。
                    </p>
                    <hr>
                </div>
                <div class="item">
                    <h3>
                        产品供应
                    </h3>
                    <p>
                        本网站展示的产品、服务等及相关说明，在各国及地区可能存在差异。如您需要特定产品或服务信息，可与我们的客服人员联系。
                    </p>
                    <hr>
                </div>
                <div class="item">
                    <h3>
                        第三方链接
                    </h3>
                    <p>
                        为方便您的使用，本网站可能包含链接至第三方网站，赛龙对第三方网站的任何内容均不承担责任。在使用第三方网站时，您可能需要查阅和接受其使用条款。此外，第三方链接并不意味赛龙对该网站任何产品或服务的认可。
                    </p>
                    <hr>
                </div>
                <div class="item">
                    <h3>
                        访问受密码保护/安全区域
                    </h3>
                    <p>
                        只有授权用户才能访问和使用本网站密码保护的安全区域。未经授权的用户试图访问这些区域可能会被追究法律责任。
                    </p>
                    <hr>
                </div>
                <div class="item">
                    <h3>
                        适用法律及纠纷管辖
                    </h3>
                    <p>
                        除法律冲突下的强行规定外，本使用条款的内容、履行及解释适用中国法律。因本使用条款或本网站引起的任何冲突或争议，经友好协商无法解决，应提交中国国际经济和贸易仲裁委员会（ CIETAC ）按照其当时的仲裁规则以仲裁方式解决。仲裁地点为中国北京，仲裁使用中文，包括提交的文件及仲裁过程使用的语言。仲裁裁决为终极裁决，对各方均有约束力。

                    </p>
                    <hr>
                </div>
            </div>
        </div>
    </div>
</div>