.header__title___2C0jX {
    margin: 20px .2rem 15px;
    font-size: 12px;
    line-height: 16px;
    color: #333;
    font-family: Open Sans
}

.product-list__wrap___225H3 {
    margin: 10px .576rem 20px
}

.product-list__list___3NLWZ ul {
    margin: 0
}

.product-list__list___3NLWZ li {
    padding: 10px;
    background: #fff;
    overflow: hidden
}

    .product-list__list___3NLWZ li:last-child {
        margin-bottom: 0
    }

.product-list__scroll___1bfx4 {
    margin: 10px 0 20px;
    overflow: hidden
}

    .product-list__scroll___1bfx4 .product-list__list___3NLWZ {
        margin-bottom: -20px;
        width: 100%;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch
    }

    .product-list__scroll___1bfx4 ul {
        padding-bottom: 20px;
        white-space: nowrap
    }

    .product-list__scroll___1bfx4 li {
        width: 55%;
        max-width: 160px;
        height: 198px;
        display: inline-block;
        vertical-align: bottom;
        margin-right: 10px;
        text-align: center
    }

        .product-list__scroll___1bfx4 li:first-child {
            margin-left: 20px
        }

        .product-list__scroll___1bfx4 li:last-child {
            margin-right: 20px
        }

    .product-list__scroll___1bfx4 .product-list__media___FdXsy {
        float: none;
        margin: 0 auto
    }

    .product-list__scroll___1bfx4 .product-list__info___lKu_a {
        padding: 10px 0 0
    }

@media (min-width:321px) {
    .product-list__scroll___1bfx4 .product-list__list___3NLWZ li {
        width: 40%
    }
}

.product-list__separate___2FwYB li {
    margin-bottom: 10px
}

.product-list__merge___39_-w li {
    margin-bottom: 1px
}

.product-list__info___lKu_a {
    padding: 10px 0;
    overflow: hidden
}

.product-list__title___3vMKn {
    display: -webkit-box;
    margin: 0;
    padding: 0;
    line-height: 1.3;
    height: 2.6em;
    font-size: 14px;
    font-weight: 400;
    color: #707473;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    white-space: normal
}

.product-list__money___F9srB {
    margin-top: 5px
}

.product-list__media___FdXsy {
    float: left;
    margin-right: 10px;
    width: 80px;
    height: 80px;
    overflow: hidden;
    font-size: 0;
    text-align: center
}

    .product-list__media___FdXsy img {
        display: inline-block;
        max-height: 100%;
        max-width: 100%;
        vertical-align: middle
    }

    .product-list__media___FdXsy:after {
        content: " ";
        display: inline-block;
        width: 0;
        height: 100%;
        overflow: hidden;
        vertical-align: middle
    }

.product-list__price___2-rQq {
    font-family: Open Sans;
    font-size: .14rem;
    color: #008374
}

.product-list__save-price___2CNbs, .product-list__warning___2K8X8 {
    color: #fc495f;
    font-family: Open Sans;
    font-size: .12rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis
}

.product-list__original-price___21HwA {
    color: #979797;
    font-family: Open Sans;
    font-weight: 300;
    text-decoration: line-through
}

.product-list__more___lfwfV {
    position: relative;
    margin-top: 1px;
    padding: 0 20px;
    background-color: #fff;
    display: block;
    height: 44px;
    line-height: 44px;
    color: #008374
}

    .product-list__more___lfwfV:after {
        content: "";
        position: absolute;
        right: 10px;
        top: 10px;
        width: 24px;
        height: 24px;
        background: url(//asset2.djicdn.com/assets/images/header/arrow-36dad273465fa755b72c37465a836692.svg) 50% no-repeat;
        background-size: 12px;
        -webkit-transition: .3s;
        transition: .3s;
        -webkit-transform: rotate(-90deg);
        transform: rotate(-90deg)
    }

.subshop__empty___p0ed8 {
    border: 1px dashed #ddd;
    margin: 20px;
    padding: 50px;
    text-align: center
}
