@font-face {
    font-family: Open Sans;
    font-weight: 300;
    font-style: normal;
    src: url(https://account.djicdn.com/pc/static/fonts/OpenSans-Light.8040375.eot);
    src: url(https://account.djicdn.com/pc/static/fonts/OpenSans-Light.8040375.eot#iefix) format("embedded-opentype"),url(https://account.djicdn.com/pc/static/fonts/OpenSans-Light.963eb32.woff) format("woff"),url(https://account.djicdn.com/pc/static/fonts/OpenSans-Light.ecb4572.ttf) format("truetype"),url(https://account.djicdn.com/pc/static/img/OpenSans-Light.d79f021.svg#OpenSansLight) format("svg")
}

@font-face {
    font-family: Open Sans;
    font-weight: 300;
    font-style: italic;
    src: url(https://account.djicdn.com/pc/static/fonts/OpenSans-LightItalic.6725fc4.eot);
    src: url(https://account.djicdn.com/pc/static/fonts/OpenSans-LightItalic.6725fc4.eot#iefix) format("embedded-opentype"),url(https://account.djicdn.com/pc/static/fonts/OpenSans-LightItalic.97534dd.woff) format("woff"),url(https://account.djicdn.com/pc/static/fonts/OpenSans-LightItalic.26f1e68.ttf) format("truetype"),url(https://account.djicdn.com/pc/static/img/OpenSans-LightItalic.b64e991.svg#OpenSansLightItalic) format("svg")
}

@font-face {
    font-family: Open Sans;
    font-weight: 400;
    font-style: normal;
    src: url(https://account.djicdn.com/pc/static/fonts/OpenSans-Regular.a35546e.eot);
    src: url(https://account.djicdn.com/pc/static/fonts/OpenSans-Regular.a35546e.eot#iefix) format("embedded-opentype"),url(https://account.djicdn.com/pc/static/fonts/OpenSans-Regular.ac327c4.woff) format("woff"),url(https://account.djicdn.com/pc/static/fonts/OpenSans-Regular.cd72963.ttf) format("truetype"),url(https://account.djicdn.com/pc/static/img/OpenSans-Regular.f641a7d.svg#OpenSansRegular) format("svg")
}

@font-face {
    font-family: Open Sans;
    font-weight: 400;
    font-style: italic;
    src: url(https://account.djicdn.com/pc/static/fonts/OpenSans-Italic.e487b7c.eot);
    src: url(https://account.djicdn.com/pc/static/fonts/OpenSans-Italic.e487b7c.eot#iefix) format("embedded-opentype"),url(https://account.djicdn.com/pc/static/fonts/OpenSans-Italic.5250746.woff) format("woff"),url(https://account.djicdn.com/pc/static/fonts/OpenSans-Italic.9b30f13.ttf) format("truetype"),url(https://account.djicdn.com/pc/static/img/OpenSans-Italic.d6671d4.svg#OpenSansItalic) format("svg")
}

@font-face {
    font-family: Open Sans;
    font-weight: 600;
    font-style: normal;
    src: url(https://account.djicdn.com/pc/static/fonts/OpenSans-Semibold.0ea0450.eot);
    src: url(https://account.djicdn.com/pc/static/fonts/OpenSans-Semibold.0ea0450.eot#iefix) format("embedded-opentype"),url(https://account.djicdn.com/pc/static/fonts/OpenSans-Semibold.9f21442.woff) format("woff"),url(https://account.djicdn.com/pc/static/fonts/OpenSans-Semibold.33f225b.ttf) format("truetype"),url(https://account.djicdn.com/pc/static/img/OpenSans-Semibold.bb100c9.svg#OpenSansSemibold) format("svg")
}

@font-face {
    font-family: Open Sans;
    font-weight: 600;
    font-style: italic;
    src: url(https://account.djicdn.com/pc/static/fonts/OpenSans-SemiboldItalic.da06141.eot);
    src: url(https://account.djicdn.com/pc/static/fonts/OpenSans-SemiboldItalic.da06141.eot#iefix) format("embedded-opentype"),url(https://account.djicdn.com/pc/static/fonts/OpenSans-SemiboldItalic.ec55f26.woff) format("woff"),url(https://account.djicdn.com/pc/static/fonts/OpenSans-SemiboldItalic.1c0b4eb.ttf) format("truetype"),url(https://account.djicdn.com/pc/static/img/OpenSans-SemiboldItalic.ddc348f.svg#OpenSansSemiboldItalic) format("svg")
}

@font-face {
    font-family: Open Sans;
    font-weight: 700;
    font-style: normal;
    src: url(https://account.djicdn.com/pc/static/fonts/OpenSans-Bold.7ae9b8b.eot);
    src: url(https://account.djicdn.com/pc/static/fonts/OpenSans-Bold.7ae9b8b.eot#iefix) format("embedded-opentype"),url(https://account.djicdn.com/pc/static/fonts/OpenSans-Bold.8926673.woff) format("woff"),url(https://account.djicdn.com/pc/static/fonts/OpenSans-Bold.5a10091.ttf) format("truetype"),url(https://account.djicdn.com/pc/static/img/OpenSans-Bold.d6291f8.svg#OpenSansBold) format("svg")
}

@font-face {
    font-family: Open Sans;
    font-weight: 700;
    font-style: italic;
    src: url(https://account.djicdn.com/pc/static/fonts/OpenSans-BoldItalic.ea07932.eot);
    src: url(https://account.djicdn.com/pc/static/fonts/OpenSans-BoldItalic.ea07932.eot#iefix) format("embedded-opentype"),url(https://account.djicdn.com/pc/static/fonts/OpenSans-BoldItalic.7be88e7.woff) format("woff"),url(https://account.djicdn.com/pc/static/fonts/OpenSans-BoldItalic.c36b5ac.ttf) format("truetype"),url(https://account.djicdn.com/pc/static/img/OpenSans-BoldItalic.a54aba8.svg#OpenSansBoldItalic) format("svg")
}

@font-face {
    font-family: Open Sans;
    font-weight: 800;
    font-style: normal;
    src: url(https://account.djicdn.com/pc/static/fonts/OpenSans-ExtraBold.561e4b6.eot);
    src: url(https://account.djicdn.com/pc/static/fonts/OpenSans-ExtraBold.561e4b6.eot#iefix) format("embedded-opentype"),url(https://account.djicdn.com/pc/static/fonts/OpenSans-ExtraBold.12e2ed7.woff) format("woff"),url(https://account.djicdn.com/pc/static/fonts/OpenSans-ExtraBold.19b56cf.ttf) format("truetype"),url(https://account.djicdn.com/pc/static/img/OpenSans-ExtraBold.8c5c497.svg#OpenSansExtraBold) format("svg")
}

@font-face {
    font-family: Open Sans;
    font-weight: 800;
    font-style: italic;
    src: url(https://account.djicdn.com/pc/static/fonts/OpenSans-ExtraBoldItalic.5f467e7.eot);
    src: url(https://account.djicdn.com/pc/static/fonts/OpenSans-ExtraBoldItalic.5f467e7.eot#iefix) format("embedded-opentype"),url(https://account.djicdn.com/pc/static/fonts/OpenSans-ExtraBoldItalic.4f44077.woff) format("woff"),url(https://account.djicdn.com/pc/static/fonts/OpenSans-ExtraBoldItalic.4595d7f.ttf) format("truetype"),url(https://account.djicdn.com/pc/static/img/OpenSans-ExtraBoldItalic.9704305.svg#OpenSansExtraBoldItalic) format("svg")
}

.error-msg {
    color: #f04848;
    margin: 10px 0 0 10px;
    font-size: 14px;
    transition: all .3s ease;
    line-height: 1.5
}

/*!
 * Bootstrap v4.0.0-alpha.6 (https://getbootstrap.com)
 * Copyright 2011-2017 The Bootstrap Authors
 * Copyright 2011-2017 Twitter, Inc.
 * Licensed under MIT (https://github.com/twbs/bootstrap/blob/master/LICENSE)
 */ html {
    box-sizing: border-box;
    font-family: sans-serif;
    line-height: 1.15;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -ms-overflow-style: scrollbar;
    -webkit-tap-highlight-color: transparent
}

*, :after, :before {
    box-sizing: inherit
}

@-ms-viewport {
    width: device-width
}

body {
    margin: 0;
    font-family: Helvetica Neue,Hiragino Sans GB,Microsoft YaHei,WenQuanYi Micro Hei,Arial,sans-serif;
    font-size: 1rem;
    line-height: 1.5;
    color: #292b2c;
    background-color: #fff
}

[tabindex="-1"]:focus {
    outline: none !important
}

hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: .5rem
}

p {
    margin-top: 0;
    margin-bottom: 1rem
}

abbr[data-original-title], abbr[title] {
    text-decoration: underline;
    text-decoration: underline dotted;
    cursor: help;
    border-bottom: 0
}

address {
    font-style: normal;
    line-height: inherit
}

address, dl, ol, ul {
    margin-bottom: 1rem
}

dl, ol, ul {
    margin-top: 0
}

    ol ol, ol ul, ul ol, ul ul {
        margin-bottom: 0
    }

dt {
    font-weight: 700
}

dd {
    margin-bottom: .5rem;
    margin-left: 0
}

blockquote {
    margin: 0 0 1rem
}

dfn {
    font-style: italic
}

b, strong {
    font-weight: bolder
}

small {
    font-size: 80%
}

sub, sup {
    position: relative;
    font-size: 75%;
    line-height: 0;
    vertical-align: baseline
}

sub {
    bottom: -.25em
}

sup {
    top: -.5em
}

a {
    color: #0275d8;
    text-decoration: none;
    background-color: transparent;
    -webkit-text-decoration-skip: objects
}

    a:hover {
        color: #014c8c;
        text-decoration: underline
    }

    a:not([href]):not([tabindex]), a:not([href]):not([tabindex]):focus, a:not([href]):not([tabindex]):hover {
        color: inherit;
        text-decoration: none
    }

        a:not([href]):not([tabindex]):focus {
            outline: 0
        }

code, kbd, pre, samp {
    font-family: monospace,monospace;
    font-size: 1em
}

pre {
    margin-top: 0;
    margin-bottom: 1rem;
    overflow: auto
}

figure {
    margin: 0 0 1rem
}

img {
    vertical-align: middle;
    border-style: none
}

svg:not(:root) {
    overflow: hidden
}

[role=button], a, area, button, input, label, select, summary, textarea {
    -ms-touch-action: manipulation;
    touch-action: manipulation
}

table {
    border-collapse: collapse
}

caption {
    padding-top: .75rem;
    padding-bottom: .75rem;
    color: #636c72;
    caption-side: bottom
}

caption, th {
    text-align: left
}

label {
    display: inline-block;
    margin-bottom: .5rem
}

button:focus {
    outline: 1px dotted;
    outline: 5px auto -webkit-focus-ring-color
}

button, input, optgroup, select, textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit
}

button, input {
    overflow: visible
}

button, select {
    text-transform: none
}

[type=reset], [type=submit], button, html [type=button] {
    -webkit-appearance: button
}

    [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner, button::-moz-focus-inner {
        padding: 0;
        border-style: none
    }

input[type=checkbox], input[type=radio] {
    box-sizing: border-box;
    padding: 0
}

    input[type=checkbox]:disabled, input[type=radio]:disabled {
        cursor: not-allowed
    }

input[type=date], input[type=datetime-local], input[type=month], input[type=time] {
    -webkit-appearance: listbox
}

textarea {
    overflow: auto;
    resize: vertical
}

fieldset {
    min-width: 0;
    padding: 0;
    margin: 0;
    border: 0
}

legend {
    display: block;
    width: 100%;
    max-width: 100%;
    padding: 0;
    margin-bottom: .5rem;
    font-size: 1.5rem;
    line-height: inherit;
    color: inherit;
    white-space: normal
}

progress {
    vertical-align: baseline
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
    height: auto
}

[type=search] {
    outline-offset: -2px;
    -webkit-appearance: none
}

    [type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
        -webkit-appearance: none
    }

::-webkit-file-upload-button {
    font: inherit;
    -webkit-appearance: button
}

output {
    display: inline-block
}

summary {
    display: list-item
}

template {
    display: none
}

[hidden] {
    display: none !important
}

input:-webkit-autofill, input:-webkit-autofill:focus, input:-webkit-autofill:hover {
    background-color: #fff
}

input:-webkit-autofill {
    background-color: #fff
}

input:-webkit-autofill, select:-webkit-autofill, textarea:-webkit-autofill {
    background-color: #fff;
    background-image: none;
    color: #333
}

.dropdown, .dropup {
    position: relative
}

.dropdown-toggle:after {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: .3em;
    vertical-align: middle;
    content: "";
    border-top: .3em solid;
    border-right: .3em solid transparent;
    border-left: .3em solid transparent
}

.dropdown-toggle:focus {
    outline: 0
}

.dropup .dropdown-toggle:after {
    border-top: 0;
    border-bottom: .3em solid
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 10rem;
    padding: .5rem 0;
    margin: .125rem 0 0;
    font-size: 1rem;
    color: #292b2c;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: .25rem
}

.dropdown-divider {
    height: 1px;
    margin: .5rem 0;
    overflow: hidden;
    background-color: #eceeef
}

.dropdown-item {
    display: block;
    width: 100%;
    padding: 3px 1.5rem;
    clear: both;
    font-weight: 400;
    color: #292b2c;
    text-align: inherit;
    white-space: nowrap;
    background: none;
    border: 0
}

    .dropdown-item:focus, .dropdown-item:hover {
        color: #1d1e1f;
        text-decoration: none;
        background-color: #f7f7f9
    }

    .dropdown-item.active, .dropdown-item:active {
        color: #fff;
        text-decoration: none;
        background-color: #0275d8
    }

    .dropdown-item.disabled, .dropdown-item:disabled {
        color: #636c72;
        cursor: not-allowed;
        background-color: transparent
    }

.show > .dropdown-menu {
    display: block
}

.show > a {
    outline: 0
}

.dropdown-menu-right {
    right: 0;
    left: auto
}

.dropdown-menu-left {
    right: auto;
    left: 0
}

.dropdown-header {
    display: block;
    padding: .5rem 1.5rem;
    margin-bottom: 0;
    font-size: .875rem;
    color: #636c72;
    white-space: nowrap
}

.dropdown-backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 990
}

.dropup .dropdown-menu {
    top: auto;
    bottom: 100%;
    margin-bottom: .125rem
}

input:-webkit-autofill, input:-webkit-autofill:focus, input:-webkit-autofill:hover {
    box-shadow: inset 0 0 0 60px #fff;
    -webkit-text-fill-color: #333
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px #fff inset
}

html {
    font-size: 10px
}

body {
    font-size: 16px;
    font-family: Open Sans,Helvetica,Arial,Hiragino Sans GB,Microsoft YaHei,WenQuanYi Micro Hei,sans-serif;
    font-weight: 400;
    color: #707473;
    background-color: #eee;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -moz-font-feature-settings: "liga","kern";
    direction: ltr
}

body, html {
    height: 100%
}

.app-container {
    width: 100%;
    height: 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center
}

.error-msg {
    margin: 10px 0 0 10px !important
}

select {
    border: 1px solid #ddd;
    color: #333;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxNCA2Ij48cGF0aCBmaWxsPSJub25lIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiIHN0cm9rZT0iIzcwNzQ3MyIgZD0iTTEgMGw2IDYgNi02Ii8+PC9zdmc+) no-repeat scroll 100% transparent;
    padding-right: 8px
}

    select::-ms-expand {
        display: none
    }

label {
    margin: 0
}

:focus {
    outline: none !important
}

::-webkit-input-placeholder {
    color: #979797
}

:-moz-placeholder, ::-moz-placeholder {
    color: #979797
}

:-ms-input-placeholder {
    color: #979797
}

.f-container {
    width: 1200px;
    background-color: #fff;
    padding: 0;
    box-shadow: 0 5px 50px 0 rgba(0,0,0,.15)
}

@media screen and (max-width:1440px) {
    .f-container {
        width: 1000px
    }
}

.f-container .row {
    margin: 0
}

.frame-container {
    width: 600px;
    background-color: #fff;
    padding: 0;
    box-shadow: 0 5px 50px 0 rgba(0,0,0,.15)
}

.main-container {
    position: relative;
    height: 100%
}

.page-wrap {
    display: -ms-flexbox;
    display: flex;
    min-height: calc(100% - 92px);
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    padding-top: 100px
}

@media screen and (max-width:1440px) {
    .page-wrap {
        padding-top: 50px
    }
}

.fade-enter-active, .fade-leave-active {
    transition-property: opacity;
    transition-duration: .25s;
    transition: all .3s ease
}

.fade-enter-active {
    transition: all .3s ease-in-out
}

.fade-enter, .fade-leave-active {
    opacity: 0
}

.page-error {
    color: #707473;
    text-align: center;
    .box

{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 360px;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%)
}

.pic {
    float: left
}

.info {
    float: right
}

img {
    width: 157px
}

h1 {
    font-size: 64px
}

h4 {
    font-size: 16px;
    margin-bottom: 20px
}

}

.btn {
    width: 100%;
    text-transform: uppercase;
    text-align: center;
    border-radius: 2px;
    background: #fff;
    color: #ccc;
    height: 36px;
    border: 1px solid #ccc;
    font-size: 16px;
    font-family: Open Sans,Helvetica Neue,Hiragino Sans GB,Microsoft YaHei,WenQuanYi Micro Hei,Arial,sans-serif !important;
    cursor: pointer;
    text-decoration: none
}

.primary.btn {
    color: #fff;
    background: #008376;
    border: 1px solid #008376
}

.second.btn {
    color: #008376;
    background: #fff;
    border: 1px solid #008376
}

.third.btn {
    color: #ccc;
    background: #fff;
    border: 1px solid #ccc
}

.facebook.btn {
    color: #fff;
    background: #3b5998;
    border: none
}

    .facebook.btn img {
        width: 123px;
        height: 20px
    }

.google.btn {
    margin-top: 10px;
    color: #ccc;
    background: #fff;
    border: 1px solid #c1a2a2
}

    .google.btn img {
        width: 106px;
        height: 16px
    }

.lg.btn {
    height: 48px
}

.md.btn {
    height: 36px
}

.sm.btn {
    height: 24px
}

.btn:hover {
    box-shadow: 0 0 4px rgba(0,0,0,.2)
}

.btn:focus {
    outline: none
}

.btn:disabled, [readonly=readonly].btn {
    opacity: .6;
    cursor: not-allowed
}

.loadEffect {
    display: inline-block;
    width: 20px;
    height: 20px;
    position: relative;
    margin: -4px 10px
}

    .loadEffect span {
        display: inline-block;
        width: 3.2px;
        height: 3.2px;
        border-radius: 50%;
        background: #fff;
        position: absolute;
        -webkit-animation: a 1.04s ease infinite
    }

        .loadEffect span:first-child {
            left: 0;
            top: 50%;
            margin-top: -1.6px;
            -webkit-animation-delay: .13s
        }

        .loadEffect span:nth-child(2) {
            left: 2.8px;
            top: 2.8px;
            -webkit-animation-delay: .26s
        }

        .loadEffect span:nth-child(3) {
            left: 50%;
            top: 0;
            margin-left: -1.6px;
            -webkit-animation-delay: .39s
        }

        .loadEffect span:nth-child(4) {
            top: 2.8px;
            right: 2.8px;
            -webkit-animation-delay: .52s
        }

        .loadEffect span:nth-child(5) {
            right: 0;
            top: 50%;
            margin-top: -1.6px;
            -webkit-animation-delay: .65s
        }

        .loadEffect span:nth-child(6) {
            right: 2.8px;
            bottom: 2.8px;
            -webkit-animation-delay: .78s
        }

        .loadEffect span:nth-child(7) {
            bottom: 0;
            left: 50%;
            margin-left: -1.6px;
            -webkit-animation-delay: .91s
        }

        .loadEffect span:nth-child(8) {
            bottom: 2.8px;
            left: 2.8px;
            -webkit-animation-delay: 1.04s
        }

@-webkit-keyframes a {
    0% {
        opacity: 1
    }

    to {
        opacity: .2
    }
}

.col-sm-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%
}

.justify-content-center {
    -ms-flex-pack: center !important;
    justify-content: center !important
}

.footer .footer-container {
    padding: 10px 0
}

.footer-copyright {
    text-align: center;
    font-weight: 400;
    font-size: 12px;
    color: #979797;
    line-height: 2;
    padding: 0;
    word-wrap: break-word
}

.footer a {
    color: #979797;
    text-decoration: underline
}

.md-input-container .md-error {
    color: #f04848;
    margin: 10px 0 0 10px;
    font-size: 14px;
    transition: all .3s ease;
    line-height: 1.5
}

.md-input-container {
    width: 100%;
    height: 48px;
    margin: 20px 0 0;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    border-radius: 2px;
    border: 1px solid #ddd
}

    .md-input-container label {
        position: absolute;
        top: 14px;
        left: 10px;
        pointer-events: none;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        z-index: 1;
        transition: all .4s cubic-bezier(.25,.8,.25,1);
        transition-duration: .3s;
        color: #979797;
        font-size: 14px;
        line-height: 20px
    }

    .md-input-container input, .md-input-container textarea {
        position: relative;
        width: 100%;
        height: 44px;
        padding: 20px 0 0 10px;
        display: block;
        border: none;
        background: transparent;
        transition: all .4s cubic-bezier(.25,.8,.25,1);
        transition-property: font-size;
        color: rgba(0,0,0,.54);
        font-family: inherit;
        font-size: 1px;
        line-height: 24px
    }

        .md-input-container input:focus, .md-input-container textarea:focus {
            outline: none
        }

        .md-input-container input::-webkit-input-placeholder, .md-input-container textarea::-webkit-input-placeholder {
            color: rgba(0,0,0,.54);
            font-size: 16px;
            text-shadow: none;
            -webkit-text-fill-color: initial
        }

        .md-input-container input ~ .md-icon:not(.md-icon-delete), .md-input-container textarea ~ .md-icon:not(.md-icon-delete) {
            margin-left: 12px
        }

            .md-input-container input ~ .md-icon:not(.md-icon-delete):after, .md-input-container textarea ~ .md-icon:not(.md-icon-delete):after {
                right: 0;
                left: auto
            }

    .md-input-container .md-focus-line {
        margin: 0;
        height: 1px;
        border: none;
        background-color: #707374;
        position: absolute;
        left: 0;
        right: 0;
        top: 47px;
        margin-top: -1px;
        -webkit-transform: scaleX(0);
        transform: scaleX(0);
        transition: -webkit-transform .45s cubic-bezier(.23,1,.32,1);
        transition: transform .45s cubic-bezier(.23,1,.32,1);
        transition: transform .45s cubic-bezier(.23,1,.32,1),-webkit-transform .45s cubic-bezier(.23,1,.32,1)
    }

    .md-input-container .md-field-line {
        margin: 0;
        height: 1px;
        border: none;
        background-color: #ddd;
        left: 0;
        right: 0;
        top: 47px;
        position: absolute
    }

    .md-input-container textarea {
        min-height: 32px;
        max-height: 230px;
        padding: 5px 0;
        resize: none;
        line-height: 1.3em
    }

    .md-input-container .md-count, .md-input-container .md-error {
        position: absolute;
        top: 46px;
        font-size: 12px
    }

    .md-input-container .md-error {
        display: block !important;
        left: 0;
        opacity: 0;
        -webkit-transform: translate3d(0,-8px,0);
        transform: translate3d(0,-8px,0);
        transition: all .3s cubic-bezier(.55,0,.55,.2)
    }

    .md-input-container .md-count {
        right: 0
    }

    .md-input-container.md-input-placeholder label {
        pointer-events: auto;
        top: 10px;
        opacity: 0;
        font-size: 12px
    }

    .md-input-container.md-input-placeholder input, .md-input-container.md-input-placeholder textarea {
        font-size: 14px
    }

    .md-input-container.md-has-value, .md-input-container.md-input-focused {
        border: 1px solid #979797
    }

        .md-input-container.md-has-value label, .md-input-container.md-input-focused label {
            pointer-events: auto;
            top: 0;
            opacity: 1;
            top: 4px;
            font-size: 12px
        }

        .md-input-container.md-has-value .md-field-line, .md-input-container.md-input-focused .md-field-line {
            background-color: #979797
        }

        .md-input-container.md-has-value input, .md-input-container.md-has-value textarea, .md-input-container.md-input-focused input, .md-input-container.md-input-focused textarea {
            font-size: 16px
        }

        .md-input-container.md-has-value input, .md-input-container.md-has-value textarea {
            color: #333
        }

    .md-input-container.md-input-inline label {
        pointer-events: none
    }

    .md-input-container.md-input-inline.md-input-focused label {
        top: 23px;
        font-size: 16px
    }

    .md-input-container.md-input-inline.md-has-value label {
        opacity: 0
    }

    .md-input-container.md-input-disabled:after {
        background: 0 100% repeat-x;
        background-image: linear-gradient(90deg,rgba(0,0,0,.38),rgba(0,0,0,.38) 33%,transparent 0);
        background-size: 4px 1px
    }

    .md-input-container.md-input-disabled input, .md-input-container.md-input-disabled label, .md-input-container.md-input-disabled textarea {
        color: rgba(0,0,0,.38)
    }

    .md-input-container.md-input-invalid {
        margin: 20px 0;
        border: 1px solid #f04848
    }

        .md-input-container.md-input-invalid label {
            color: #f04848
        }

        .md-input-container.md-input-invalid .md-error {
            opacity: 1;
            line-height: 1;
            -webkit-transform: translateZ(0);
            transform: translateZ(0)
        }

    .md-input-container.md-input-required label:after {
        position: absolute;
        top: 2px;
        content: "*";
        font-size: 12px;
        line-height: 1em;
        vertical-align: top
    }

    .md-input-container.md-has-select:hover .md-select:not(.md-disabled):after {
        color: rgba(0,0,0,.87)
    }

.swiper-slide {
    background-position: 50%;
    background-size: cover
}

.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: 0;
    margin-left: 0
}

.left, .right {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%
}

.text-center {
    text-align: center !important
}

.swiper-container {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    overflow: hidden;
    z-index: 1
}

.swiper-container-no-flexbox .swiper-slide {
    float: left
}

.swiper-container-vertical > .swiper-wrapper {
    -ms-flex-direction: column;
    flex-direction: column
}

.swiper-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: -ms-flexbox;
    display: flex;
    transition-property: -webkit-transform;
    transition-property: transform;
    transition-property: transform,-webkit-transform;
    box-sizing: content-box
}

.swiper-container-android .swiper-slide, .swiper-wrapper {
    -webkit-transform: translateZ(0);
    transform: translateZ(0)
}

.swiper-container-multirow > .swiper-wrapper {
    -webkit-box-lines: multiple;
    -moz-box-lines: multiple;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap
}

.swiper-container-free-mode > .swiper-wrapper {
    transition-timing-function: ease-out;
    margin: 0 auto
}

.swiper-slide {
    -webkit-flex-shrink: 0;
    -ms-flex: 0 0 auto;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    width: 100%;
    height: 100%;
    position: relative
}

.swiper-container-autoheight, .swiper-container-autoheight .swiper-slide {
    height: auto
}

    .swiper-container-autoheight .swiper-wrapper {
        -ms-flex-align: start;
        align-items: flex-start;
        transition-property: height,-webkit-transform;
        transition-property: transform,height;
        transition-property: transform,height,-webkit-transform
    }

.swiper-container .swiper-notification {
    position: absolute;
    left: 0;
    top: 0;
    pointer-events: none;
    opacity: 0;
    z-index: -1000
}

.swiper-wp8-horizontal {
    -ms-touch-action: pan-y;
    touch-action: pan-y
}

.swiper-wp8-vertical {
    -ms-touch-action: pan-x;
    touch-action: pan-x
}

.swiper-button-next, .swiper-button-prev {
    position: absolute;
    top: 50%;
    width: 27px;
    height: 44px;
    margin-top: -22px;
    z-index: 10;
    cursor: pointer;
    background-size: 27px 44px;
    background-position: 50%;
    background-repeat: no-repeat
}

    .swiper-button-next.swiper-button-disabled, .swiper-button-prev.swiper-button-disabled {
        opacity: .35;
        cursor: auto;
        pointer-events: none
    }

.swiper-button-prev, .swiper-container-rtl .swiper-button-next {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 27 44'%3E%3Cpath d='M0 22L22 0l2.1 2.1L4.2 22l19.9 19.9L22 44 0 22z' fill='%23007aff'/%3E%3C/svg%3E");
    left: 10px;
    right: auto
}

    .swiper-button-prev.swiper-button-black, .swiper-container-rtl .swiper-button-next.swiper-button-black {
        background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 27 44'%3E%3Cpath d='M0 22L22 0l2.1 2.1L4.2 22l19.9 19.9L22 44 0 22z'/%3E%3C/svg%3E")
    }

    .swiper-button-prev.swiper-button-white, .swiper-container-rtl .swiper-button-next.swiper-button-white {
        background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 27 44'%3E%3Cpath d='M0 22L22 0l2.1 2.1L4.2 22l19.9 19.9L22 44 0 22z' fill='%23fff'/%3E%3C/svg%3E")
    }

.swiper-button-next, .swiper-container-rtl .swiper-button-prev {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 27 44'%3E%3Cpath d='M27 22L5 44l-2.1-2.1L22.8 22 2.9 2.1 5 0l22 22z' fill='%23007aff'/%3E%3C/svg%3E");
    right: 10px;
    left: auto
}

    .swiper-button-next.swiper-button-black, .swiper-container-rtl .swiper-button-prev.swiper-button-black {
        background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 27 44'%3E%3Cpath d='M27 22L5 44l-2.1-2.1L22.8 22 2.9 2.1 5 0l22 22z'/%3E%3C/svg%3E")
    }

    .swiper-button-next.swiper-button-white, .swiper-container-rtl .swiper-button-prev.swiper-button-white {
        background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 27 44'%3E%3Cpath d='M27 22L5 44l-2.1-2.1L22.8 22 2.9 2.1 5 0l22 22z' fill='%23fff'/%3E%3C/svg%3E")
    }

.swiper-pagination {
    position: absolute;
    text-align: center;
    transition: .3s;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    z-index: 10
}

    .swiper-pagination.swiper-pagination-hidden {
        opacity: 0
    }

.swiper-container-horizontal > .swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction {
    bottom: 10px;
    left: 0;
    width: 100%
}

.swiper-pagination-bullet {
    width: 8px;
    height: 8px;
    display: inline-block;
    border-radius: 100%;
    background: #000;
    opacity: .2
}

button.swiper-pagination-bullet {
    border: none;
    margin: 0;
    padding: 0;
    box-shadow: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -webkit-appearance: none;
    appearance: none
}

.swiper-pagination-clickable .swiper-pagination-bullet {
    cursor: pointer
}

.swiper-pagination-white .swiper-pagination-bullet {
    background: #fff
}

.swiper-pagination-bullet-active {
    opacity: 1;
    background: #007aff
}

.swiper-pagination-white .swiper-pagination-bullet-active {
    background: #fff
}

.swiper-pagination-black .swiper-pagination-bullet-active {
    background: #000
}

.swiper-container-vertical > .swiper-pagination-bullets {
    right: 10px;
    top: 50%;
    -webkit-transform: translate3d(0,-50%,0);
    transform: translate3d(0,-50%,0)
}

    .swiper-container-vertical > .swiper-pagination-bullets .swiper-pagination-bullet {
        margin: 5px 0;
        display: block
    }

.swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 5px
}

.swiper-pagination-progress {
    background: rgba(0,0,0,.25);
    position: absolute
}

    .swiper-pagination-progress .swiper-pagination-progressbar {
        background: #007aff;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        -webkit-transform: scale(0);
        transform: scale(0);
        -webkit-transform-origin: left top;
        transform-origin: left top
    }

.swiper-container-rtl .swiper-pagination-progress .swiper-pagination-progressbar {
    -webkit-transform-origin: right top;
    transform-origin: right top
}

.swiper-container-horizontal > .swiper-pagination-progress {
    width: 100%;
    height: 4px;
    left: 0;
    top: 0
}

.swiper-container-vertical > .swiper-pagination-progress {
    width: 4px;
    height: 100%;
    left: 0;
    top: 0
}

.swiper-pagination-progress.swiper-pagination-white {
    background: hsla(0,0%,100%,.5)
}

    .swiper-pagination-progress.swiper-pagination-white .swiper-pagination-progressbar {
        background: #fff
    }

.swiper-pagination-progress.swiper-pagination-black .swiper-pagination-progressbar {
    background: #000
}

.swiper-container-3d {
    -webkit-perspective: 1200px;
    -o-perspective: 1200px;
    perspective: 1200px
}

    .swiper-container-3d .swiper-cube-shadow, .swiper-container-3d .swiper-slide, .swiper-container-3d .swiper-slide-shadow-bottom, .swiper-container-3d .swiper-slide-shadow-left, .swiper-container-3d .swiper-slide-shadow-right, .swiper-container-3d .swiper-slide-shadow-top, .swiper-container-3d .swiper-wrapper {
        -webkit-transform-style: preserve-3d;
        transform-style: preserve-3d
    }

    .swiper-container-3d .swiper-slide-shadow-bottom, .swiper-container-3d .swiper-slide-shadow-left, .swiper-container-3d .swiper-slide-shadow-right, .swiper-container-3d .swiper-slide-shadow-top {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        pointer-events: none;
        z-index: 10
    }

    .swiper-container-3d .swiper-slide-shadow-left {
        background-image: linear-gradient(270deg,rgba(0,0,0,.5),transparent)
    }

    .swiper-container-3d .swiper-slide-shadow-right {
        background-image: linear-gradient(90deg,rgba(0,0,0,.5),transparent)
    }

    .swiper-container-3d .swiper-slide-shadow-top {
        background-image: linear-gradient(0deg,rgba(0,0,0,.5),transparent)
    }

    .swiper-container-3d .swiper-slide-shadow-bottom {
        background-image: linear-gradient(180deg,rgba(0,0,0,.5),transparent)
    }

.swiper-container-coverflow .swiper-wrapper, .swiper-container-flip .swiper-wrapper {
    -ms-perspective: 1200px
}

.swiper-container-cube, .swiper-container-flip {
    overflow: visible
}

    .swiper-container-cube .swiper-slide, .swiper-container-flip .swiper-slide {
        pointer-events: none;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        z-index: 1
    }

        .swiper-container-cube .swiper-slide .swiper-slide, .swiper-container-flip .swiper-slide .swiper-slide {
            pointer-events: none
        }

    .swiper-container-cube .swiper-slide-active, .swiper-container-cube .swiper-slide-active .swiper-slide-active, .swiper-container-flip .swiper-slide-active, .swiper-container-flip .swiper-slide-active .swiper-slide-active {
        pointer-events: auto
    }

    .swiper-container-cube .swiper-slide-shadow-bottom, .swiper-container-cube .swiper-slide-shadow-left, .swiper-container-cube .swiper-slide-shadow-right, .swiper-container-cube .swiper-slide-shadow-top, .swiper-container-flip .swiper-slide-shadow-bottom, .swiper-container-flip .swiper-slide-shadow-left, .swiper-container-flip .swiper-slide-shadow-right, .swiper-container-flip .swiper-slide-shadow-top {
        z-index: 0;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden
    }

    .swiper-container-cube .swiper-slide {
        visibility: hidden;
        -webkit-transform-origin: 0 0;
        transform-origin: 0 0;
        width: 100%;
        height: 100%
    }

    .swiper-container-cube.swiper-container-rtl .swiper-slide {
        -webkit-transform-origin: 100% 0;
        transform-origin: 100% 0
    }

    .swiper-container-cube .swiper-slide-active, .swiper-container-cube .swiper-slide-next, .swiper-container-cube .swiper-slide-next + .swiper-slide, .swiper-container-cube .swiper-slide-prev {
        pointer-events: auto;
        visibility: visible
    }

    .swiper-container-cube .swiper-cube-shadow {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        background: #000;
        opacity: .6;
        -webkit-filter: blur(50px);
        filter: blur(50px);
        z-index: 0
    }

.swiper-container-fade.swiper-container-free-mode .swiper-slide {
    transition-timing-function: ease-out
}

.swiper-container-fade .swiper-slide {
    pointer-events: none;
    transition-property: opacity
}

    .swiper-container-fade .swiper-slide .swiper-slide {
        pointer-events: none
    }

.swiper-container-fade .swiper-slide-active, .swiper-container-fade .swiper-slide-active .swiper-slide-active {
    pointer-events: auto
}

.swiper-zoom-container {
    width: 100%;
    height: 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center
}

    .swiper-zoom-container > canvas, .swiper-zoom-container > img, .swiper-zoom-container > svg {
        max-width: 100%;
        max-height: 100%;
        object-fit: contain
    }

.swiper-scrollbar {
    border-radius: 10px;
    position: relative;
    -ms-touch-action: none;
    background: rgba(0,0,0,.1)
}

.swiper-container-horizontal > .swiper-scrollbar {
    position: absolute;
    left: 1%;
    bottom: 3px;
    z-index: 50;
    height: 5px;
    width: 98%
}

.swiper-container-vertical > .swiper-scrollbar {
    position: absolute;
    right: 3px;
    top: 1%;
    z-index: 50;
    width: 5px;
    height: 98%
}

.swiper-scrollbar-drag {
    height: 100%;
    width: 100%;
    position: relative;
    background: rgba(0,0,0,.5);
    border-radius: 10px;
    left: 0;
    top: 0
}

.swiper-scrollbar-cursor-drag {
    cursor: move
}

.swiper-lazy-preloader {
    width: 42px;
    height: 42px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -21px;
    margin-top: -21px;
    z-index: 10;
    -webkit-transform-origin: 50%;
    transform-origin: 50%;
    -webkit-animation: b 1s steps(12) infinite;
    animation: b 1s steps(12) infinite
}

    .swiper-lazy-preloader:after {
        display: block;
        content: "";
        width: 100%;
        height: 100%;
        background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg viewBox='0 0 120 120' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cdefs%3E%3Cpath id='a' stroke='%236c6c6c' stroke-width='11' stroke-linecap='round' d='M60 7v20'/%3E%3C/defs%3E%3Cuse xlink:href='%23a' opacity='.27'/%3E%3Cuse xlink:href='%23a' opacity='.27' transform='rotate(30 60 60)'/%3E%3Cuse xlink:href='%23a' opacity='.27' transform='rotate(60 60 60)'/%3E%3Cuse xlink:href='%23a' opacity='.27' transform='rotate(90 60 60)'/%3E%3Cuse xlink:href='%23a' opacity='.27' transform='rotate(120 60 60)'/%3E%3Cuse xlink:href='%23a' opacity='.27' transform='rotate(150 60 60)'/%3E%3Cuse xlink:href='%23a' opacity='.37' transform='rotate(180 60 60)'/%3E%3Cuse xlink:href='%23a' opacity='.46' transform='rotate(210 60 60)'/%3E%3Cuse xlink:href='%23a' opacity='.56' transform='rotate(240 60 60)'/%3E%3Cuse xlink:href='%23a' opacity='.66' transform='rotate(270 60 60)'/%3E%3Cuse xlink:href='%23a' opacity='.75' transform='rotate(300 60 60)'/%3E%3Cuse xlink:href='%23a' opacity='.85' transform='rotate(330 60 60)'/%3E%3C/svg%3E");
        background-position: 50%;
        background-size: 100%;
        background-repeat: no-repeat
    }

.swiper-lazy-preloader-white:after {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg viewBox='0 0 120 120' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cdefs%3E%3Cpath id='a' stroke='%23fff' stroke-width='11' stroke-linecap='round' d='M60 7v20'/%3E%3C/defs%3E%3Cuse xlink:href='%23a' opacity='.27'/%3E%3Cuse xlink:href='%23a' opacity='.27' transform='rotate(30 60 60)'/%3E%3Cuse xlink:href='%23a' opacity='.27' transform='rotate(60 60 60)'/%3E%3Cuse xlink:href='%23a' opacity='.27' transform='rotate(90 60 60)'/%3E%3Cuse xlink:href='%23a' opacity='.27' transform='rotate(120 60 60)'/%3E%3Cuse xlink:href='%23a' opacity='.27' transform='rotate(150 60 60)'/%3E%3Cuse xlink:href='%23a' opacity='.37' transform='rotate(180 60 60)'/%3E%3Cuse xlink:href='%23a' opacity='.46' transform='rotate(210 60 60)'/%3E%3Cuse xlink:href='%23a' opacity='.56' transform='rotate(240 60 60)'/%3E%3Cuse xlink:href='%23a' opacity='.66' transform='rotate(270 60 60)'/%3E%3Cuse xlink:href='%23a' opacity='.75' transform='rotate(300 60 60)'/%3E%3Cuse xlink:href='%23a' opacity='.85' transform='rotate(330 60 60)'/%3E%3C/svg%3E")
}

@-webkit-keyframes b {
    to {
        -webkit-transform: rotate(1turn)
    }
}

@keyframes b {
    to {
        -webkit-transform: rotate(1turn);
        transform: rotate(1turn)
    }
}

.carousel-img {
    background-size: cover;
    background-position: 50% 50%;
    width: 100%;
    height: 100%
}

    .carousel-img .title-container {
        position: absolute;
        right: 40px;
        bottom: 70px;
        color: #fff;
        text-align: right
    }

        .carousel-img .title-container .title {
            font-size: 40px;
            line-height: 40px
        }

        .carousel-img .title-container .sub-title {
            margin-top: 15px;
            font-size: 16px;
            line-height: 16px
        }
@font-face {
    font-family: uc-nexus-iconfont;
    src: url(chrome-extension://pogijhnlcfmcppgimcaccdkmbedjkmhi/res/font_9qmmi8b8jsxxbt9.woff) format('woff'),url(chrome-extension://pogijhnlcfmcppgimcaccdkmbedjkmhi/res/font_9qmmi8b8jsxxbt9.ttf) format('truetype')
}

.login .title {
    font-size: 30px;
    font-family: Open Sans,Helvetica Neue,Hiragino Sans GB,Microsoft YaHei,WenQuanYi Micro Hei,Arial,sans-serif !important;
    margin-top: 30px;
    color: #707374;
    font-weight: 300
}

@media screen and (max-width:1400px) {
    .login .title {
        margin-top: 15px
    }
}

.login .logo {
    width: 52 px;
    height: 30px;
    margin-top: 80px
}

@media screen and (max-width:1400px) {
    .login .logo {
        margin-top: 40px
    }
}

.login .btn-dark-blue {
    background-color: #3b5998;
    border: 1px solid #3b5998
}

.login .form {
    margin-top: 30px
}

@media screen and (max-width:1440px) {
    .login .form {
        margin-top: 0
    }
}

.login .form .child {
    width: 300px;
    margin: 0 auto
}

    .login .form .child .line {
        margin-top: 60px
    }

@media screen and (max-width:1440px) {
    .login .form .child .line {
        margin-top: 30px
    }
}

.login .form .child .fb {
    margin-top: 10px
}

.login .form .child .bg-orange {
    display: inline-block;
    text-align: center;
    line-height: 44px
}

.login .form .child .line-text {
    padding: 5px 8px;
    display: inline-block;
    color: #707473;
    background-color: #fff;
    opacity: 1
}

.login .form .child .fb-btn, .login .form .child .login-btn {
    margin-top: 20px
}

.login .form .child .create-btn {
    margin-top: 10px;
    margin-bottom: 80px
}

@media screen and (max-width:1440px) {
    .login .form .child .create-btn {
        margin-bottom: 40px
    }
}

.d-input {
    width: 100%
}

    .d-input.input-disabled input {
        background-color: #f0f0f0;
        color: #4d4d4d
    }

.line {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAlgAAAACCAYAAACE7KJkAAAAAXNSR0IArs4c6QAAADlJREFUWAnt0EERACAMA8FS/1pjAWbQkOeegHvsSXJHBAgQIECAAAECNYGtnYwIECBAgAABAgS+wAMzMQPN1X02RQAAAABJRU5ErkJggg==);
    background-repeat: no-repeat;
    -moz-background-size: contain;
    background-size: contain;
    background-position: 50%
}

.d-password-tips .tips {
    color: #008376;
    cursor: pointer;
    text-decoration: none
}

    .d-password-tips .tips:hover {
        text-decoration: underline
    }

.d-password-tips {
    width: 100%
}

    .d-password-tips input {
        width: -moz-calc(100% - 120px);
        width: calc(100% - 120px)
    }

    .d-password-tips .tips {
        position: absolute;
        top: 0;
        right: 10px;
        font-size: 12px;
        height: 48px;
        line-height: 48px
    }

        .d-password-tips .tips:hover {
            color: #008376
        }

.input-captcha[data-v-a741ffc6] {
    margin: 20px 0 0;
    width: 100%
}

.input-captcha .error-msg[data-v-a741ffc6] {
    font-size: 12px
}

.error-init[data-v-a741ffc6] {
    margin-top: 10px;
    margin-left: 10px;
    font-size: 12px;
    color: #f04848
}

.error-init a[data-v-a741ffc6] {
    margin-left: 10px;
    color: #008376;
    cursor: pointer;
    text-decoration: none
}

    .error-init a[data-v-a741ffc6]:hover {
        color: #008376;
        text-decoration: underline
    }

.d-input-code {
    width: 100%
}

    .d-input-code input {
        width: -moz-calc(100% - 130px - 7px - 10px);
        width: calc(100% - 130px - 7px - 10px)
    }

    .d-input-code .img {
        position: absolute;
        cursor: pointer;
        top: 7px;
        right: 7px;
        width: 100px;
        background-repeat: no-repeat;
        height: 34px;
        font-size: 14px
    }

.ali-captcha {
    -moz-box-sizing: content-box;
    box-sizing: content-box
}

    .ali-captcha img {
        vertical-align: initial
    }

    .ali-captcha .sm-btn-success {
        cursor: auto
    }

        .ali-captcha .sm-btn-success:hover {
            -moz-box-shadow: 0 0 0 #000 !important;
            box-shadow: 0 0 0 #000 !important
        }

    .ali-captcha .nc-toolbar {
        line-height: 20px !important
    }

    .ali-captcha .sm-btn {
        width: -moz-calc(100% - 2px) !important;
        width: calc(100% - 2px) !important
    }

    .ali-captcha .sm-txt {
        vertical-align: initial
    }

    .ali-captcha #rectMask {
        width: 100% !important
    }

    .ali-captcha .nc_scale {
        height: 40px !important
    }

    .ali-captcha .btn_slide {
        height: 38px !important;
        line-height: 38px !important
    }

    .ali-captcha .nc-lang-cnt {
        height: 38px !important;
        line-height: 40px !important
    }

    .ali-captcha .btn_ok {
        height: 38px !important;
        line-height: 38px !important
    }

    .ali-captcha .errloading {
        padding: 0 5px !important;
        width: 100% !important;
        height: 40px !important;
        line-height: 38px !important;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        display: -webkit-flex;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-align-items: center;
        -moz-box-align: center;
        -ms-flex-align: center;
        align-items: center
    }

        .ali-captcha .errloading .nc-lang-cnt {
            -webkit-flex: 1 1 auto;
            -moz-box-flex: 1;
            -ms-flex: 1 1 auto;
            flex: 1 1 auto;
            line-height: 1.2 !important;
            height: auto !important;
            padding: 0 5px
        }

:root .footer > #box[style="width:100%;height:100%;position:fixed;top:0"] {
    display: none !important;
}

.register .title {
    font-size: 30px;
    font-family: Open Sans,Helvetica Neue,Hiragino Sans GB,Microsoft YaHei,WenQuanYi Micro Hei,Arial,sans-serif !important;
    margin-top: 30px;
    color: #707374;
    font-weight: 300
}

@media screen and (max-width:1400px) {
    .register .title {
        margin-top: 15px
    }
}

.register .logo {
    width: 52 px;
    height: 30px;
    margin-top: 80px
}

@media screen and (max-width:1400px) {
    .register .logo {
        margin-top: 40px
    }
}

.register .form .to-login a {
    color: #008376;
    cursor: pointer;
    text-decoration: none
}

    .register .form .to-login a:hover {
        text-decoration: underline
    }

.register .component-fade-enter-active, .register .component-fade-leave-active {
    -moz-transition: all .1s ease;
    transition: all .1s ease
}

.register .form {
    margin-top: 40px
}

@media screen and (max-width:1440px) {
    .register .form {
        margin-top: 0
    }
}

.register .form .child {
    width: 300px;
    margin: 0 auto
}

    .register .form .child .row {
        margin: 0;
        width: 300px
    }

    .register .form .child .tips {
        margin-top: 10px;
        word-wrap: normal;
        position: relative;
        display: inline-block
    }

    .register .form .child .tab {
        line-height: 48px;
        height: 48px;
        cursor: pointer;
        color: #333
    }

        .register .form .child .tab div {
            border-bottom: 1px solid #eee
        }

        .register .form .child .tab .col-sm-6 {
            padding: 3px
        }

        .register .form .child .tab .active {
            color: #008376;
            border-bottom: 1px solid #008376;
            background-color: #fff
        }

.register .form .to-login {
    padding-top: 60px;
    padding-bottom: 80px;
    font-size: 14px
}

@media screen and (max-width:1440px) {
    .register .form .to-login {
        padding-top: 15px;
        padding-bottom: 30px
    }
}

.register .form .register-btn {
    margin-top: 20px
}

.register .form .phone-num {
    width: 220px
}

    .register .form .phone-num .md-error {
        margin-left: -70px
    }

.register .form .email, .register .form .password {
    width: 100%
}

.register .phone-num .md-input-container {
    -moz-border-radius-topleft: 0;
    border-top-left-radius: 0;
    -moz-border-radius-bottomleft: 0;
    border-bottom-left-radius: 0
}

.register .d-select .btn {
    height: 48px;
    border-right: 0;
    font-size: 14px;
    border-color: #ddd;
    cursor: auto;
    background-color: #f7f8f9;
    -moz-border-radius-topleft: 2px;
    border-top-left-radius: 2px;
    -moz-border-radius-bottomleft: 2px;
    border-bottom-left-radius: 2px;
    -moz-border-radius-topright: 0;
    border-top-right-radius: 0;
    -moz-border-radius-bottomright: 0;
    border-bottom-right-radius: 0
}

.register .input-group-btn {
    position: relative;
    font-size: 0;
    white-space: nowrap
}
.d-input-button {
    width: 100%
}

    .d-input-button input {
        width: -moz-calc(100% - 130px - 7px - 10px);
        width: calc(100% - 130px - 7px - 10px)
    }

    .d-input-button .inner-button {
        position: absolute;
        top: 6px;
        right: 7px;
        width: 130px;
        height: 34px;
        font-size: 14px
    }

.d-select {
    margin-top: 20px;
    color: #333
}

    .d-select .btn {
        height: 48px;
        width: 80px;
        padding: 0 15px;
        color: #333
    }

        .d-select .btn:hover {
            -moz-box-shadow: none;
            box-shadow: none
        }

        .d-select .btn .dropdown-item, .dropdown-item {
            font-size: 14px
        }

