
@{
    Layout = null;
    var List_Produter = (List<DbOpertion.Models.Producer>)ViewBag.Producer;
    var CountNumMoney = ViewBag.CountNumMoney;
    var CountWantMoney = ViewBag.CountWantMoney;
}
<html>
<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">
    <link href="~/plugins/layui/css/layui.css" rel="stylesheet" />
    <link href="~/Base/css/btable.css" rel="stylesheet" />
    <link href="~/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Current/css/Table/Table.css" rel="stylesheet" />
    <script src="~/Current/Scripts/jquery-1.10.2.min.js?version=20181017001"></script>
    <script src="~/Current/Scripts/ajax.js?version=20181017001"></script>
</head>

<body style="">

    <div style="margin:0px; background-color: white; margin:0 10px;min-width:1500px;min-height:700px;">
        <blockquote class="layui-elem-quote">
            <form class="layui-form title-part" style="">
                <div class="layui-inline">
                    <a href="javascript:;" class="layui-btn layui-btn-small" id="InvoiceAdd" onclick="" style="background-color:#393D49;font-size:18px">
                        <img src="~/Current/Icon/CashIn.png" />&nbsp; 发票录入
                    </a>
                </div>
                <div class="layui-inline">
                    <a href="javascript:;" class="layui-btn layui-btn-small" id="InvoicePay" onclick="" style="background-color:#1AA194;font-size:18px">
                        <img src="~/Current/Icon/CashBackGreen.png" style="margin-top: -3px;" />&nbsp; 付款
                    </a>
                </div>

                <div class="layui-form-item" style="margin:4px;float:right;clear: initial;">
                    <div class="layui-input-inline">
                        <input type="text" name="name" placeholder="支持模糊查询.." autocomplete="off" class="layui-input">
                    </div>
                    <div class="layui-form-mid layui-word-aux" style="padding:0;">
                        <button id="submit_btn" lay-filter="search" class="layui-btn" lay-submit><i class="fa fa-search" aria-hidden="true"></i>搜索</button>
                    </div>
                </div>
                <div style="float:right">
                    <div class="layui-inline">
                        <label class="layui-form-label">供应商：</label>
                        <div class="layui-input-inline" style="width: 190px;margin:4px">
                            <select name="ProduterId" lay-verify="" lay-search class="layui-input">
                                <option value="0">全部</option>
                                @foreach (var item in List_Produter)
                                {
                                    <option value="@item.Id">@item.Name</option>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">应付日期：</label>
                        <div class="layui-input-inline" style="width: 120px;margin:4px" id="Time1">
                            <input type="text" name="datestart" id="datestrat" placeholder="请选择日期" autocomplete="off" class="layui-input">
                        </div>
                        <label>-</label>
                        <div class="layui-input-inline" style="width: 120px;margin:4px" id="Time2">
                            <input type="text" name="dateend" id="dateend" placeholder="请选择日期" autocomplete="off" class="layui-input">
                        </div>
                    </div>&nbsp; &nbsp;
                </div>
            </form>
            <div style="clear:both;"></div>
        </blockquote>
        <div id="content" style="width: 100%;">
        </div>


        <div style="text-align:right; margin-top:-60px;margin-right:40px">
            <label style="font-size:24px" id="NumMoney">
                <img src="~/Current/Icon/Card.png" />&nbsp;应付账款:<a style="color:red">￥<span>@CountNumMoney</span></a>
            </label>&nbsp;&nbsp;
            <label style="font-size:24px" id="WantMoney">
                <img src="~/Current/Icon/AllPayCash.png" />&nbsp; 已付账款:<a style="color:green">￥<span>@CountWantMoney</span></a>
            </label>
        </div>

    </div>
    <script src="~/plugins/layui/layui.js?version=20181017001"></script>
    <script src="~/Current/Scripts/Finance/Finance.js?x=1.14"></script>
</body>
</html>