.cart__cart-btn___2wVQo {
    display: block;
    position: absolute;
    top: 4px;
    right: 8px;
    width: 40px;
    height: 40px;
    background: url(//asset4.djicdn.com/assets/images/header/cart-5d8e182031233d6c6ddbbef3665790c9.svg) 50% no-repeat;
    background-size: 24px
}

.cart__cart-badge___wOwVG {
    border-radius: 8px;
    padding: 0 4px;
    min-width: 16px;
    height: 16px;
    position: absolute;
    background: #1897f2;
    right: 8px;
    top: 4px;
    -webkit-transform: translateX(50%);
    transform: translateX(50%)
}

.cart__cart-count___1SYbm {
    font-family: Open Sans;
    color: #fff;
    text-align: center;
    line-height: 16px;
    -webkit-transform: scale(.84);
    transform: scale(.84);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    display: block
}

.sidebar__app-nav___RJGYx {
    position: relative;
    z-index: 1002;
    width: 100%;
    min-height: 1.555rem;
    border-bottom: 1px solid transparent;
    box-shadow: 0 1px 6px rgba(0,0,0,.12),0 1px 4px rgba(0,0,0,.12);
    background: #fff
}

.sidebar__menu-icon___2Jrxs {
    position: absolute;
    top: 0;
    left: 0;
    padding: .432rem;
    width: 1.555rem;
    height: 1.555rem;
    outline: 0;
    border: 0;
    background: #fff
}

.sidebar__menu-icon-rect___I2SY5 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in
}

.sidebar__rect-top___3Im9K {
    -webkit-transform: translateY(-0.144rem);
    transform: translateY(-0.144rem)
}

.sidebar__rect-bottom___1fp3k {
    -webkit-transform: translateY(0.144rem);
    transform: translateY(0.144rem)
}

.sidebar__rect-bottom-active___c5pQO, .sidebar__rect-top-active___1ckaw {
    -webkit-transform: translateY(0);
    transform: translateY(0)
}

.sidebar__rect-bottom___1fp3k > i {
    -webkit-transition: all .25s ease-in .2s;
    transition: all .25s ease-in .2s
}

.sidebar__rect-bottom___1fp3k > i, .sidebar__rect-middle___-WR_Y > i, .sidebar__rect-top___3Im9K > i {
    position: absolute;
    top: .777rem;
    left: .489rem;
    width: .576rem;
    height: .0576rem;
    background: #6a6d69
}

.sidebar__rect-top___3Im9K > i {
    -webkit-transition: all .25s ease-in .2s;
    transition: all .25s ease-in .2s
}

.sidebar__rect-middle___-WR_Y > i {
    -webkit-transition: opacity .7s ease-in .02s;
    transition: opacity .7s ease-in .02s
}

.sidebar__rect-top-active___1ckaw > i {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg)
}

.sidebar__rect-middle-active___3GhFl > i {
    -webkit-transition: opacity .2s ease-in;
    transition: opacity .2s ease-in;
    opacity: 0
}

.sidebar__rect-bottom-active___c5pQO > i {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg)
}

.sidebar__logo-link____owhs {
    display: block;
    width: 2.88rem;
    height: 1.555rem;
    margin: 0 auto;
    background: url(//asset5.djicdn.com/assets/images/header/dji_logo-059241117aa11caa10bb5703a597e864.svg) 50% no-repeat;
    background-size: 2.59rem
}

.sidebar__nav-subtitle___oBNdd {
    padding: 20px 0 15px;
    font-size: 12px;
    line-height: 16px;
    font-weight: 600;
    color: #333;
    background-color: #fff;
    border-bottom: 1px solid #eee
}

.sidebar__nav-items___3xJrQ {
    padding: 0 .576rem .576rem;
    background-color: #fff
}

.sidebar__nav-menu-list___35R7P {
    margin-bottom: 0
}

.sidebar__menu-item___2PEjO a {
    position: relative;
    display: block;
    padding: 0;
    width: 100%;
    height: 45px;
    opacity: 1;
    line-height: 44px;
    color: #333;
    -webkit-transition: all .2s;
    transition: all .2s;
    background-color: #fff;
    border-bottom: 1px solid #eee;
    overflow: hidden;
    text-transform: capitalize
}

    .sidebar__menu-item___2PEjO a:after {
        content: '';
        position: absolute;
        right: 0;
        top: 10px;
        width: 24px;
        height: 24px;
        background: url(//asset2.djicdn.com/assets/images/header/arrow-36dad273465fa755b72c37465a836692.svg) 50% no-repeat;
        background-size: 15px;
        -webkit-transform: rotate(-90deg);
        transform: rotate(-90deg)
    }

.sidebar__menu-item___2PEjO .sidebar__more-arrow-fold___2_USv:after {
    -webkit-transform: rotate(0);
    transform: rotate(0)
}

.sidebar__menu-item___2PEjO .sidebar__more-arrow___12TlQ:after {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg)
}

.index__menu-item___pfUyt.index__hide___1az-F a, .sidebar__menu-item___2PEjO.sidebar__hide___M3kI0 a {
    opacity: 0;
    height: 0;
    border-bottom: 0 solid #eee
}

.sidebar__menu-item-img___304FK {
    float: left;
    margin-left: -0.144rem;
    margin-right: 0.144rem;
    vertical-align: top;
    width: 2.016rem;
    height: 1.267rem;
    text-align: center
}

    .sidebar__menu-item-img___304FK img {
        max-width: 100%;
        max-height: 100%
    }

.sidebar__menu-item-title___2sdml {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-right: 30px;
    color: #707473
}

.sidebar__app-nav-content___13h7l {
    position: fixed;
    left: 0;
    bottom: 0;
    top: 48px;
    width: 100%;
    height: auto;
    z-index: 1004;
    font-family: Open Sans;
    background-color: #fff;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch
}

.sidebar__nav-menu-ctn___3Rw_5 {
    background-color: #f7f8f9 !important;
    padding-bottom: 10px
}

.sidebar__active-bar___2jbsa {
    border-color: #ccc !important
}

.sidebar__msg-dot___3rDhD {
    display: block;
    position: absolute;
    z-index: 10;
    top: .18rem;
    right: .403rem;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: #fc495f
}

.sidebar__search-icon___1E-hX {
    display: block;
    position: absolute;
    top: 0;
    right: 1.440rem;
    width: 1.152rem;
    height: .55rem;
    background: url(//asset5.djicdn.com/assets/images/header/search-523bb9ac4ca115a10b386d50661df552.svg) 50% no-repeat;
    background-size: 21px
}

.sidebar__search___296uh {
    position: fixed;
    left: 0;
    bottom: 0;
    top: 0;
    padding: 20px;
    width: 100%;
    height: auto;
    z-index: 1004;
    font-family: Open Sans;
    background-color: #fff;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch
}

.sidebar__nav-change-country___7ocP0 {
    margin-top: 10px;
    line-height: 1.036rem;
    background: #fff;
    text-align: center;
    padding: .259rem 0;
    text-transform: capitalize
}

.sidebar__get-go-app___3ofEM, .sidebar__get-go-app___3ofEM:hover {
    display: block;
    padding-left: .432rem;
    margin-bottom: .288rem;
    line-height: 1.555rem;
    background: #fff;
    color: #707473
}

.index__nav-change-country___B8JXX span, .sidebar__nav-change-country___7ocP0 span {
    color: #008376;
    vertical-align: middle;
    font-size: 12px
}

.sidebar__menu-filter___Nf99H {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 20
}

.sidebar__cookie-disable___yAcN8 {
    background-color: rgba(255,0,0,.8);
    color: #fff;
    padding: .0576rem .288rem
}

.input__form___3PGjq {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0;
    margin: 0;
    height: 44px;
    width: 100%
}

.input__label___1gmiZ {
    position: relative;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    margin: 0;
    padding: 10px 10px 10px 38px;
    border: 1px solid #ccc;
    border-radius: 2px;
    background: #fff url(//asset5.djicdn.com/assets/images/header/search-523bb9ac4ca115a10b386d50661df552.svg) 10px no-repeat;
    background-size: 20px
}

.input__input___3zRVQ {
    display: inline-block;
    width: 100%;
    border: none;
    -webkit-appearance: none;
    padding: 0 28px 0 0;
    margin: 0;
    outline: none;
    height: 24px;
    line-height: 24px;
    font-weight: 400
}

    .input__input___3zRVQ::-webkit-input-placeholder {
        color: #979797
    }

.input__clear___2J4qE {
    position: absolute;
    right: 10px;
    top: 10px;
    width: 24px;
    height: 24px;
    border: none;
    background: url(//asset4.djicdn.com/assets/images/header/close-26aa5f1a24ff74c0bb310856e9d73f8b.svg) 50% no-repeat;
    -webkit-appearance: none
}

.input__cancel___MUTV0 {
    display: block;
    margin: 10px 0 10px 10px;
    height: 24px;
    line-height: 24px;
    color: #707473;
    font-size: 12px
}

.list__list___LjIte {
    position: relative;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 15px;
    list-style: none
}

.item__item___2psxR {
    position: relative;
    padding: 11px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    height: 45px;
    opacity: 1;
    line-height: 44px;
    color: #333;
    -webkit-transition: all .2s;
    transition: all .2s;
    border-bottom: 1px solid #eee;
    overflow: hidden
}

a.item__item___2psxR {
    color: inherit
}

.item__item___2psxR.item__active___1FhqG, .item__item___2psxR:active {
    background-color: rgba(148,148,148,.1)
}

.item__access___2dA7c {
    padding: 11px 25px 11px 0
}

    .index__menu-item___pfUyt a:after, .item__access___2dA7c:after {
        content: '';
        position: absolute;
        right: 0;
        top: 10px;
        width: 24px;
        height: 24px;
        background: url(//asset2.djicdn.com/assets/images/header/arrow-36dad273465fa755b72c37465a836692.svg) 50% no-repeat;
        background-size: 15px;
        -webkit-transform: rotate(-90deg);
        transform: rotate(-90deg)
    }

.index__title___1tk_U {
    margin: 20px 0 15px;
    font-size: 12px;
    line-height: 16px;
    color: #333;
    word-break: break-word;
    word-wrap: break-word
}

.search__recommends___S8hT7 {
    -webkit-transition: opacity .3s;
    transition: opacity .3s;
    opacity: 0
}

    .search__recommends___S8hT7.search__open___23apm {
        opacity: 1
    }

.search__list-title___1RQnS {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 20px
}

    .search__list-title___1RQnS em {
        font-style: normal;
        font-weight: 600
    }

.search__hint___26jYg {
    margin: 20px 0
}

.search__list___2Xfqy {
    border-top: 1px solid #eee
}

.search__search___NkvvN {
    padding-left: 24px;
    background: #fff url(//asset5.djicdn.com/assets/images/header/search-523bb9ac4ca115a10b386d50661df552.svg) 0 no-repeat;
    background-size: 20px
}

.search__search-panel___2j3iM {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 0;
    padding: 0;
    z-index: 1000;
    background: #fff;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    visibility: hidden
}

    .search__search-panel___2j3iM.search__open___23apm {
        padding: 20px;
        height: 100%;
        z-index: 1004;
        visibility: visible
    }

.index__app-nav___cAR5e {
    position: relative;
    z-index: 1002;
    width: 100%;
    min-height: 48px;
    border-bottom: 1px solid transparent;
    box-shadow: 0 1px 4px 0 rgba(0,0,0,.1);
    background: #fff;
    padding: 4px 0;
    text-align: center
}

.index__menu-icon___2bl_Q {
    position: absolute;
    top: 4px;
    left: 8px;
    padding: 8px;
    width: 40px;
    height: 40px;
    outline: 0;
    border: 0;
    background: #fff
}

.index__menu-icon-rect___1bvNK {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in
}

.index__rect-top___eqFMk {
    -webkit-transform: translateY(-7px);
    transform: translateY(-7px)
}

.index__rect-bottom___2tSLa {
    -webkit-transform: translateY(7px);
    transform: translateY(7px)
}

.index__rect-bottom-active___2FWIS, .index__rect-top-active___13MUw {
    -webkit-transform: translateY(0);
    transform: translateY(0)
}

.index__rect-bottom___2tSLa > i {
    -webkit-transition: all .25s ease-in .2s;
    transition: all .25s ease-in .2s
}

.index__rect-bottom___2tSLa > i, .index__rect-middle___3wdQD > i, .index__rect-top___eqFMk > i {
    position: absolute;
    top: 19px;
    left: 10px;
    width: 20px;
    height: 2px;
    background: #303233;
    border-bottom-left-radius: 2px;
    border-top-right-radius: 2px
}

.index__rect-top___eqFMk > i {
    -webkit-transition: all .25s ease-in .2s;
    transition: all .25s ease-in .2s
}

.index__rect-middle___3wdQD > i {
    -webkit-transition: opacity .7s ease-in .02s;
    transition: opacity .7s ease-in .02s
}

.index__rect-top-active___13MUw > i {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg)
}

.index__rect-middle-active___3uj-P > i {
    -webkit-transition: opacity .2s ease-in;
    transition: opacity .2s ease-in;
    opacity: 0
}

.index__rect-bottom-active___2FWIS > i {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg)
}

.index__logo-link___1B6H8 {
    display: inline-block;
    padding: 8px 0;
    height: 40px;
    margin: 0 auto
}

    .index__logo-link___1B6H8 img {
        width: 102px
    }

.index__nav-subtitle___1XU18 {
    padding: 20px 0 15px;
    font-size: 12px;
    line-height: 16px;
    font-weight: 600;
    color: #333;
    background-color: #fff;
    border-bottom: 1px solid #eee
}

.index__nav-items___3acc6 {
    padding: 0 .576rem .576rem;
    background-color: #fff
}

.index__nav-menu-list___298Hp {
    margin-bottom: 0
}

.index__menu-item___pfUyt a {
    position: relative;
    display: block;
    padding: 0;
    width: 100%;
    height: 45px;
    opacity: 1;
    line-height: 44px;
    color: #333;
    -webkit-transition: all .2s;
    transition: all .2s;
    background-color: #fff;
    border-bottom: 1px solid #eee;
    overflow: hidden
}

.index__menu-item___pfUyt .index__more-arrow-fold___2HL7f:after {
    -webkit-transform: rotate(0);
    transform: rotate(0)
}

.index__menu-item___pfUyt .index__more-arrow___2JHEW:after {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg)
}

.index__menu-item-img___rCDmq {
    float: left;
    margin-left: -0.144rem;
    margin-right: 0.144rem;
    vertical-align: top;
    width: 2.016rem;
    height: 1.267rem;
    text-align: center
}

    .index__menu-item-img___rCDmq img {
        max-width: 100%;
        max-height: 100%
    }

.index__menu-item-title___1aNqG {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-right: 30px;
    color: #707473
}

.index__app-nav-content___3NC_w {
    position: fixed;
    left: 0;
    bottom: 0;
    top: 48px;
    width: 100%;
    height: auto;
    z-index: 1004;
    font-family: Open Sans;
    background-color: #fff;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch
}

.index__nav-menu-ctn___2k22g {
    background-color: #f7f8f9 !important;
    padding-bottom: 10px
}

.index__active-bar___1W6cd {
    border-color: #ccc !important
}

.index__msg-dot___2HmhA {
    display: block;
    position: absolute;
    z-index: 10;
    top: .18rem;
    right: .403rem;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: #fc495f
}

.index__search-icon___3Uroa {
    display: block;
    position: absolute;
    top: 4px;
    right: 48px;
    width: 40px;
    height: 40px;
    background: url(//asset5.djicdn.com/assets/images/header/search-523bb9ac4ca115a10b386d50661df552.svg) 50% no-repeat;
    background-size: 24px
}

.index__nav-icon___1n2Vf {
    -webkit-transition: .2s;
    transition: .2s;
    opacity: 1
}

.index__open___2BHAZ {
    opacity: 0
}

.index__nav-change-country___B8JXX {
    margin-top: 10px;
    line-height: 1.036rem;
    background: #fff;
    text-align: center;
    padding: .259rem 0;
    text-transform: capitalize
}

.index__get-go-app___12xQ9, .index__get-go-app___12xQ9:hover {
    display: block;
    padding-left: .432rem;
    margin-bottom: .288rem;
    line-height: 1.555rem;
    background: #fff;
    color: #707473
}

.index__menu-filter___1EFZC {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 20
}

.index__cookie-disable___CpgeJ {
    background-color: rgba(255,0,0,.8);
    color: #fff;
    padding: .0576rem .288rem
}

.index__m-footer___3wbfs {
    padding-top: .288rem;
    color: #999;
    text-align: center;
    font-size: .345rem;
    background: #f7f8f9;
    font-family: Open Sans;
    padding-bottom: 1.152rem
}

.index__ctn-block____MJ_9 {
    height: 1.036rem;
    line-height: 1.036rem;
    border-bottom: 1px solid #e4e4e4
}

    .index__ctn-block____MJ_9:first-child {
        padding-top: 0
    }

    .index__ctn-block____MJ_9 > a {
        margin-right: .288rem;
        color: #999
    }

        .index__ctn-block____MJ_9 > a:last-child {
            margin-right: 0
        }

.index__social-item___3gKwO {
    display: inline-block;
    vertical-align: middle;
    margin-right: .432rem !important;
    font-size: .576rem
}

    .index__social-item___3gKwO:after {
        content: " ";
        display: inline-block;
        width: 0;
        height: 100%;
        overflow: hidden;
        vertical-align: middle
    }

    .index__social-item___3gKwO:last-child {
        margin-right: 0 !important
    }

.index__copyright-desc___UIBfr {
    margin-bottom: 0;
    border-bottom: 0
}

.index__label-country___1R800 {
    display: inline-block;
    vertical-align: middle
}


.clear {
    clear: both
}

.page-sub-title a.page-operate {
    float: right;
    color: #44abf2
}

.index__cart-list-li___1JTr4 {
    position: relative;
    margin-bottom: .432rem;
    background-color: #fff
}

.index__sub-item___3Syhp {
    padding: .432rem;
}

.index__item-img___3J_Ic {
    height: 3rem;
    float: left;
    max-width: 4.6rem;
    margin-left:-.3rem;
}

.index__item-context____wXt5 {
    float: left;
    width: 50%
}

.index__product-name___kkhbP {
    color: #707473;
    font-size: .403rem;
    padding: .0576rem 0;
    line-height: 1.2
}

    .index__product-name___kkhbP a, .index__product-shipping___1oAkz {
        color: #707473;
        text-overflow: ellipsis;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical
    }

    .index__product-name___kkhbP a {
        width: 4.608rem
    }

.index__product-shipping___1oAkz {
    max-height: 34px;
    font-size: 10px;
    font-weight: 400
}

.index__product-price___2_B3n {
    color: #2d2d2d;
    font-family: Open Sans;
    font-weight: 600;
    line-height: 20px;
}

.index__cart-num-edit___Sd4fh {
    position: absolute;
    width: 3.072rem;
    height: .864rem;
    top: 1.49rem;
    right: -.1rem;
}

.index__cart-num-add___qhJjl, .index__cart-num-cut___2oPvb {
    display: inline-block;
    float: left;
    width: 25%;
    height: .864rem;
    border: 1px solid #ccc;
    position: relative
}

.index__cart-num-add-icon___3H3BQ, .index__cart-num-cut-icon___2cp3f {
    position: absolute;
    top: .403rem;
    display: inline-block;
    vertical-align: top;
    height: 2px;
    width: 10px;
    left: 50%;
    margin-left: -5px
}

    .index__cart-num-add-icon___3H3BQ:after, .index__cart-num-add-icon___3H3BQ:before, .index__cart-num-cut-icon___2cp3f:before {
        position: absolute;
        content: "";
        background-color: #979797;
        height: 100%;
        width: 100%
    }

    .index__cart-num-add-icon___3H3BQ:after {
        transform: translateY(0) rotate(90deg);
        -webkit-transform: translateY(0) rotate(90deg)
    }

.index__cart-num-set___1tRp8 {
    padding: 0;
    float: left;
    width: 40%;
    height: .864rem;
    -webkit-appearance: none;
    border: 1px solid #ccc;
    border-width: 1px 0;
    border-radius: 0;
    text-align: center;
    font-size: .403rem;
    font-family: Open Sans;
    color: #4a4a4a;
    -webkit-opacity: 1;
    -webkit-text-fill-color: #4a4a4a
}

.index__delete-link___3t0z3 {
    float: right;
    color: #44abf2;
    clear: both;
    margin-top: -.288rem;
    text-transform: uppercase
}

.index__cart-empty___146Dt {
    text-align: center;
    padding-top: 1.576rem
}

    .index__cart-empty___146Dt p {
        font-size: .403rem;
        padding: 0 0 .576rem
    }

    .index__cart-empty___146Dt .index__cart-empty-icon___2FG4V {
        height: 2.4192rem;
        width: 2.4192rem;
        margin: 0 auto;
        background: url(//asset1.djicdn.com/assets/images/icon/dji_cart_empty-4d799437bb386c58b77532a147af7566.png) 50% no-repeat
    }

.button__btn___Uhwzq {
    position: relative;
    display: block;
    padding: 0 14px;
    margin: 0 auto;
    width: 100%;
    height: 44px;
    font-size: 14px;
    font-weight: 400;
    line-height: 44px;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: top;
    background-color: #008376;
    border: none;
    outline: none;
    text-transform: uppercase;
    font-family: Open Sans,Arial,sans-serif
}

    .button__btn___Uhwzq.button__active___3Bv3a, .button__btn___Uhwzq:active {
        background-color: #D9D9D9;
    }

    .button__btn___Uhwzq.button__disabled___9BjIU, .button__btn___Uhwzq:disabled {
        opacity: .6
    }

    .button__btn___Uhwzq + .button__btn___Uhwzq {
        margin-top: 15px
    }

.button__inline___1bO9Q {
    display: inline-block;
    width: auto;
    height: auto;
    line-height: 1.4;
    font-size: 12px;
    padding: .259rem .18rem;
    border-radius: 2px
}

.button__outlined___15ErO {
    background-color: transparent;
    border: 1px solid #008376;
    border-radius: 2px;
    color: #008376
}

    .button__outlined___15ErO.button__black___yA32F {
        color: #4a4a4a;
        border-color: #4a4a4a
    }

.total__footer___3DXqe {
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 100
}

.total__wrapper___24RbB {
    padding: 10px .576rem .576rem;
    background: #fff
}

.total__empty___rgD5c {
    height: 1.728rem;
    line-height: 1.728rem
}

.total__paypal___1SDaL {
    margin-top: 10px;
    text-align: right
}

    .total__paypal___1SDaL a {
        display: inline-block;
        vertical-align: middle;
        margin-left: 10px;
        text-align: right;
        height: 34px;
        width: 180px;
        overflow: hidden
    }

        .total__paypal___1SDaL a img {
            max-width: 100%;
            max-height: 100%
        }

.total__checkout___16OYp {
    height: 34px;
    line-height: 34px
}

.total__total-price___1RYx2 {
    padding-bottom: 10px;
    line-height: 24px;
    overflow: hidden
}

.total__total___X4pKp {
    float: left;
    line-height: 24px;
    color: #707473;
    font-weight: lighter
}

.total__price___2z4Kr {
    float: right;
    text-align: right;
    font-size: 16px;
    color: #333
}

.total__installment___35SM2 {
    margin-bottom: 10px;
    color: #fc495f;
    font-size: 10px;
    clear: both;
    text-align: right
}

.control__title___G7-L1 {
    height: 1.325rem;
    line-height: 1.325rem;
    padding: 0 .432rem;
    font-size: 12px;
    background: #f7f8f9;
    color: #707473;
    font-weight: 400;
    text-transform: capitalize
}

a.control__more___1YgZm {
    color: #707473
}

a.control__operate___2Y3ow {
    float: right;
    color: #707473
}
